<template>
  <div>
    <TopNavigationBar/>


    <div class="container">
      <div class="row justify-content-center">

        <div class="col-6">

          <div class="window purple">
            <div class="window-title">
              Edit Master in-charge
            </div>

            <div class="window-body">

              <div class="mb-3">
                <label class="form-label">Full name</label>
                <input type="text" class="form-control" v-model.trim="masterInCharge.full_name">
              </div>

              <div class="mb-3">
                <label class="form-label">Contact number</label>
                <input type="text" class="form-control" v-model.trim="masterInCharge.contact_number">
              </div>

              <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="text" class="form-control" v-model.trim="masterInCharge.email">
              </div>

              <div class="mb-3">
                <label class="form-label">Address</label>
                <textarea rows="3" class="form-control" v-model.trim="masterInCharge.address"></textarea>
              </div>

              <div class="text-center">
                <button class="btn btn-primary" @click="onEdit()">Update</button>
                <router-link to="/staff/hpe-teachers" class="btn btn-secondary">Cancel</router-link>
              </div>

            </div>

          </div><!-- window -->

        </div>

      </div>
    </div>


  </div>
</template>

<script>
import {errorDialog, successDialog} from '@src/assets/libs/bootloks';
import TopNavigationBar from '@src/components/TopNavigationBar';

export default {
  name: 'EditMasterInChargePage',
  components: { TopNavigationBar },

  computed: {

    masterInCharge() {
      return this.$store.getters[ 'mastersInCharge/getSelectedMasterInCharge' ];
    },

  }, /* __computed__ */

  async mounted() {
    try {

      const id = this.$route.params.id;
      await this.$store.dispatch( 'mastersInCharge/fetch', id );

    } catch ( e ) {
      errorDialog( { message: 'Failed to fetch staff details' } );
    }

  }, /* __mounted__ */

  methods: {

    async onEdit() {

      try {

        this.validateForm();

      } catch ( e ) {
        errorDialog( { message: e } );
        return;
      }

      try {

        const params = {
          id: this.masterInCharge.id,
          full_name: this.masterInCharge.full_name,
          email: this.masterInCharge.email,
          contact_number: this.masterInCharge.contact_number,
          address: this.masterInCharge.address,
        };

        await this.$store.dispatch( 'mastersInCharge/update', params );
        await this.$router.push( '/staff/masters-in-charge' );

        successDialog( { message: 'Staff details updated' } );

      } catch ( e ) {
        errorDialog( { message: 'Failed to update staff details' } );
      }
    }, /* edit */


    validateForm() {

      if ( this.masterInCharge.full_name === '' ) {
        throw 'Full name is required';
      } else if ( this.masterInCharge.address === '' ) {
        throw 'Address is required';
      } else if ( this.masterInCharge.contact_number === '' ) {
        throw 'Contact number is required';
      }

    }, /* validate form */

  }, /* __methods__ */

};
</script>

<style scoped>

</style>
