<template>

  <div>
    <TopNavigationBar/>

    <div class="container">
      <div class="row">

        <div class="col-4">

          <CreateMasterInCharge/>

        </div><!-- col -->

        <div class="col-8">

          <div class="window gray">

            <div class="window-title">
              All Masters in-charge
            </div>

            <div class="window-body">

              <table class="table table-bordered" v-if="mastersInChargeList.length > 0">
                <thead>
                <tr>
                  <th>Full name</th>
                  <th>Contact No.</th>
                  <th>Email</th>
                  <th>Address</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in mastersInChargeList" :key="item.id">
                  <td>
                    <router-link :to="'/staff/masters-in-charge/edit/' + item.id">{{ item.full_name }}</router-link>
                  </td>
                  <td>{{ item.contact_number }}</td>
                  <td>{{ item.email }}</td>
                  <td style="white-space: pre-line">{{ item.address }}</td>
                </tr>
                </tbody>
              </table>

              <div v-else>
                <p>There are no master in-charge in the list. you can add a new master in-charge. </p>
              </div>

            </div>

          </div>

        </div><!-- col -->

      </div>
    </div>

  </div>

</template>

<script>
import TopNavigationBar from '@src/components/TopNavigationBar';
import CreateMasterInCharge from '@src/views/staff/masters_in_charge/components/CreateMasterInCharge';

export default {
  name: 'ManageMastersInChargePage',
  components: { CreateMasterInCharge, TopNavigationBar },

  data() {
    return {
      //
    };
  },

  computed: {
    mastersInChargeList() {
      return this.$store.getters[ 'mastersInCharge/getMastersInChargeList' ];
    },
  },

  async mounted() {
    try {
      await this.$store.dispatch( 'mastersInCharge/fetchAll' );
    } catch ( e ) {
      alert( 'Failed to fetch staff details' );
    }
  },

  methods: {
    //
  },
};
</script>

<style scoped>

</style>
