<template>

  <div>
    <TopNavigationBar/>


    <div class="container">
      <div class="row justify-content-center">

        <div class="col-6">

          <div class="window purple">
            <div class="window-title">
              Edit teacher
            </div>

            <div class="window-body">

              <div class="mb-3">
                <label class="form-label">Full name</label>
                <input type="text" class="form-control" v-model.trim="hpeTeacher.full_name">
              </div>

              <div class="row">
                <div class="col">
                  <div class="mb-3">
                    <label class="form-label">Contact number</label>
                    <input type="text" class="form-control" v-model.trim="hpeTeacher.contact_number">
                  </div>
                </div>
                <div class="col">
                  <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="text" class="form-control" v-model.trim="hpeTeacher.email">
                  </div>
                </div>
              </div><!-- row -->


              <div class="mb-3">
                <label class="form-label">Address</label>
                <textarea rows="3" class="form-control" v-model.trim="hpeTeacher.address"></textarea>
              </div>

              <div class="text-center">
                <button class="btn btn-primary" @click="onEdit()">Update</button>
                <router-link to="/staff/hpe-teachers" class="btn btn-secondary">Cancel</router-link>
              </div>

              <hr>

              <h4 class="text-center">Profile Picture</h4>
              <div class="profile__picture text-center position-relative mb-4">
                <img :src="profilePicUrl" alt="" class="img-fluid img-thumbnail shadow" style="width: 200px">
              </div>

              <div class="mb-3">
                <label class="form-label">Upload profile picture</label>
                <input type="file" class="form-control" ref="profilePicField" @change="onChooseFile()">
              </div>

              <div class="text-center">
                <button class="btn btn-primary" @click="onUploadProfilePic()">Upload</button>
              </div>

            </div>

          </div><!-- window -->

        </div>

      </div>
    </div>


  </div>

</template>

<script>
import {errorDialog, successDialog} from '@src/assets/libs/bootloks';
import TopNavigationBar from '@src/components/TopNavigationBar';


export default {
  name: 'EditHpeTeacherPage',
  components: { TopNavigationBar },

  data() {
    return {
      profilePicFile: null,
    };
  },

  computed: {

    hpeTeacher() {
      return this.$store.getters['hpeTeachers/getSelectedHpeTeacher'];
    },

    profilePicUrl() {
      if ( _.isEmpty( this.hpeTeacher.profile_pic ) ) {
        return '/images/profile_pic.svg';
      }
      return this.hpeTeacher.profile_pic;
    },

  },
  /* ___computed___ */

  async mounted() {
    try {

      const id = this.$route.params.id;
      await this.$store.dispatch( 'hpeTeachers/fetch', id );

    } catch ( e ) {
      errorDialog( { message: 'Failed to fetch staff details' } );
    }

  },

  methods: {
    async onEdit() {

      try {

        const params = {
          id: this.hpeTeacher.id,
          full_name: this.hpeTeacher.full_name,
          email: this.hpeTeacher.email,
          contact_number: this.hpeTeacher.contact_number,
          address: this.hpeTeacher.address,
        };

        await this.$store.dispatch( 'hpeTeachers/update', params );
        await this.$router.push( '/staff/hpe-teachers' );

        successDialog( { message: 'Staff details updated' } );

      } catch ( e ) {
        errorDialog( { message: 'Failed to update staff details' } );
      }
    }, /* on edit */

    onChooseFile() {
      this.profilePicFile = this.$refs.profilePicField.files[ 0 ];
    }, /* choose profile pic */

    async onUploadProfilePic() {

      try {

        const params = {
          id: this.hpeTeacher.id,
          profile_pic: this.profilePicFile,
        };

        await this.$store.dispatch( 'hpeTeachers/uploadProfilePic', params );

        const id = this.$route.params.id;
        await this.$store.dispatch( 'hpeTeachers/fetch', id );

      } catch ( e ) {
        errorDialog( { message: 'Failed to upload profile pic' } );
      }

    }, /* on upload profile pic */


  },
  /* ___methods___ */
};
</script>

<style scoped>

</style>
