<template>

  <div>
    <TopNavigationBar/>

    <div class="container">
      <div class="row">

        <div class="col-4">

          <!-- create new HPE teacher -->
          <CreateHpeTeacher/>

        </div><!-- col -->

        <div class="col-8">

          <div class="window gray">

            <div class="window-title">
              All Teachers
            </div>

            <div class="window-body">

              <table class="table table-bordered">
                <thead>
                <tr>
                  <th class="text-center">Profile</th>
                  <th>Full name</th>
                  <th>Contact No.</th>
                  <th>Email</th>
                  <th>Address</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in teachersList" :key="item.id">
                  <td class="text-center">
                    <router-link :to="{name:'editHpeTeacher', params:{id: item.id}}">
                      <img :src="item.profile_pic" alt="" style="width: 50px" class="img-thumbnail shadow-sm">
                    </router-link>
                  </td>
                  <td>
                    <router-link :to="{name:'editHpeTeacher', params:{id: item.id}}">{{ item.full_name }}</router-link>
                  </td>
                  <td>{{ item.contact_number }}</td>
                  <td>{{ item.email }}</td>
                  <td style="white-space: pre-line">{{ item.address }}</td>
                </tr>
                </tbody>
              </table>

            </div>

          </div>

        </div><!-- col -->

      </div>
    </div>

  </div>

</template>

<script>
import {errorDialog} from '@src/assets/libs/bootloks';
import TopNavigationBar from '@src/components/TopNavigationBar';
import CreateHpeTeacher from '@src/views/staff/hpe_teachers/components/CreateHpeTeacher';

export default {
  name: 'ManageHpeTeachersPage',
  components: { CreateHpeTeacher, TopNavigationBar },

  data() {
    return {
      //
    };
  },

  computed: {

    teachersList() {
      return this.$store.getters[ 'hpeTeachers/getHpeTeachersList' ];
    },

  },

  async mounted() {

    try {
      await this.$store.dispatch( 'hpeTeachers/fetchAll' );
    } catch ( e ) {
      errorDialog( { message: 'Failed to fetch teachers details' } );
    }

  },

  methods: {
    //
  },

};
</script>

<style scoped>


</style>
