<template>

  <div class="">

    <div class="mb-3">
      <label class="form-label">Data</label>
      <textarea rows="10" class="form-control" v-model="data.data"></textarea>
    </div>

  </div>

</template>

<script>
export default {
  name: 'TeamCommonAchievementData',

  data() {
    return {

      data: {
        data: '',
      },

    };
  },

};
</script>

<style scoped>

</style>
