<template>

  <div>

    <div class="mb-3">
      <label class="form-label">Opposite team</label>
      <input type="text" class="form-control" v-model.trim="data.opposition_team">
    </div>

    <div class="mb-3">
      <label class="form-label">Stadium</label>
      <input type="text" class="form-control" v-model.trim="data.stadium">
    </div>

    <div class="row">
      <div class="col-4">
        <div class="mb-3">
          <label class="form-label">Type</label>
          <select class="form-select" v-model="data.match_type">
            <option v-for="(item, key) in matchType" :value="key" :key="key">{{ item }}</option>
          </select>
        </div>
      </div>
    </div>


    <div class="row g-2">
      <div class="col">

        <div class="alert alert-primary">
          <p class="lead">Us</p>

          <div class="row g-2">
            <div class="col">
              <div class="mb-3">
                <label class="form-label">Runs</label>
                <input type="text" class="form-control" v-model="data.score.us.runs">
              </div>
            </div>
            <div class="col">
              <div class="mb-3">
                <label class="form-label">Wickets</label>
                <input type="text" class="form-control" v-model="data.score.us.wickets">
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col">

        <div class="alert alert-secondary">
          <p class="lead">Them</p>

          <div class="row g-2">
            <div class="col">
              <div class="mb-3">
                <label class="form-label">Runs</label>
                <input type="text" class="form-control" v-model="data.score.them.runs">
              </div>
            </div>
            <div class="col">
              <div class="mb-3">
                <label class="form-label">Wickets</label>
                <input type="text" class="form-control" v-model="data.score.them.wickets">
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div><!-- template -->


</template>

<script>
export default {
  name: 'TeamCricketAchievementData',

  data() {
    return {
      matchType: {
        'one-day': 'One Day',
        'two-day': 'Two Day',
        't20': 'T20',
      },


      data: {
        opposition_team: '',
        stadium: '',
        match_type: '',
        score: {
          us: {
            runs: 0,
            wickets: 0,
          },
          them: {
            runs: 0,
            wickets: 0,
          },
        },
      },

    };
  },

  computed: {
    //
  },
};
</script>

<style scoped>

</style>
