<template>

  <div>
    <TopNavigationBar/>


    <div class="container">
      <div class="row justify-content-center">

        <div class="col-6">

          <div class="window purple">
            <div class="window-title">
              Edit Coach
            </div>

            <div class="window-body">

              <div class="mb-3">
                <label class="form-label">Full name</label>
                <input type="text" class="form-control" v-model.trim="coach.full_name">
              </div>

              <div class="mb-3">
                <label class="form-label">Contact number</label>
                <input type="text" class="form-control" v-model.trim="coach.contact_number">
              </div>

              <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="text" class="form-control" v-model.trim="coach.email">
              </div>

              <div class="mb-3">
                <label class="form-label">License No.</label>
                <input type="text" class="form-control" v-model.trim="coach.coaching_license">
              </div>

              <div class="mb-3">
                <label class="form-label">Address</label>
                <textarea rows="3" class="form-control" v-model.trim="coach.address"></textarea>
              </div>

              <div class="text-center">
                <button class="btn btn-primary" @click="onEdit()">Update</button>
                <router-link to="/staff/coaches" class="btn btn-secondary">Cancel</router-link>
              </div>

            </div>

          </div><!-- window -->

        </div>

      </div>
    </div>


  </div>

</template>

<script>
import {errorDialog, successDialog} from '@src/assets/libs/bootloks';
import TopNavigationBar from '@src/components/TopNavigationBar';

export default {
  name: 'EditCoachPage',
  components: { TopNavigationBar },

  computed: {
    coach() {
      return this.$store.getters['coaches/getSelectedCoach'];
    },
  },
  /* -- computed -- */

  async mounted() {

    try {

      const id = this.$route.params.id;
      await this.$store.dispatch( 'coaches/fetch', id );

    } catch ( e ) {
      errorDialog( { message: 'Failed to fetch staff details' } );
    }

  },
  /* -- mounted -- */

  methods: {

    async onEdit() {

      try {
        this.validateForm();
      } catch ( e ) {
        errorDialog( { message: e } );
        return;
      }

      try {

        const params = {
          id: this.coach.id,
          full_name: this.coach.full_name,
          email: this.coach.email,
          contact_number: this.coach.contact_number,
          address: this.coach.address,
          coaching_license: this.coach.coaching_license,
        };

        await this.$store.dispatch( 'coaches/update', params );
        await this.$router.push( '/staff/coaches' );

        successDialog( { message: 'Staff details updated' } );

      } catch ( e ) {
        errorDialog( { message: 'Failed to update staff details' } );
      }
    }, /* edit */


    validateForm() {

      let hasError = false;
      let errorOutput = '';

      if ( this.coach.full_name === '' ) {
        errorOutput += '<li>Full name is required.</li>';
        hasError = true;
      }
      if ( this.coach.address === '' ) {
        errorOutput += '<li>Address is required.</li>';
        hasError = true;
      }
      if ( this.coach.contact_number === '' ) {
        errorOutput += '<li>Contact number is required.</li>';
        hasError = true;
      }

      if ( hasError ) throw errorOutput;

    }, /* validate the form */

  },
  /* -- methods -- */

};
</script>

<style scoped>

</style>
