<template>

  <div>
    <TopNavigationBar/>


    <div class="container">
      <div class="row">

        <div class="col-4">

          <CreateCoach/>

        </div><!-- col -->

        <div class="col-8">

          <div class="window gray">

            <div class="window-title">
              All Coaches
            </div>

            <div class="window-body">

              <table class="table table-bordered" v-if="coachesList.length > 0">
                <thead>
                <tr>
                  <th>Full name</th>
                  <th>Contact No.</th>
                  <th>Email</th>
                  <th>License</th>
                  <th>Address</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in coachesList" :key="item.id">
                  <td>
                    <router-link :to="'/staff/coaches/edit/' + item.id">{{ item.full_name }}</router-link>
                  </td>
                  <td>{{ item.contact_number }}</td>
                  <td>{{ item.email }}</td>
                  <td>{{ item.coaching_license }}</td>
                  <td style="white-space: pre-line">{{ item.address }}</td>
                </tr>
                </tbody>
              </table>

              <div v-else>
                <p>There are no coaches in the list. you can add a new coach.</p>
              </div>

            </div>

          </div>

        </div><!-- col -->

      </div>
    </div>


  </div><!-- template -->

</template>

<script>
import {errorDialog} from '@src/assets/libs/bootloks';
import TopNavigationBar from '@src/components/TopNavigationBar';
import CreateCoach from '@src/views/staff/coaches/components/CreateCoach';

export default {
  name: 'ManageCoachesPage',
  components: { CreateCoach, TopNavigationBar },

  data() {
    return {};
  },
  /* -- data -- */

  computed: {

    coachesList() {
      return this.$store.getters[ 'coaches/getCoachesList' ];
    },

  },
  /* -- computed -- */

  async mounted() {

    try {
      await this.$store.dispatch( 'coaches/fetchAll' );
    } catch ( e ) {
      errorDialog( { message: 'Failed to fetch coaches details' } );
    }

  },
  /* -- mounted -- */

  methods: {},
  /* -- methods -- */

};

</script>

<style scoped>

</style>
