<template>

  <div>
    <TopNavigationBar/>

    <div class="container">

      <div class="row">

        <div class="col">

          <EditCricketAgeGroup :age-group-id="ageGroupId"/>

          <ListCricketAGStudents :age-group-id="ageGroupId"/>

          <Cricket1DayPerformances :age-group-id="ageGroupId"/>

          <Cricket2DaysPerformances :age-group-id="ageGroupId"/>

          <CricketT20Performances :age-group-id="ageGroupId"/>

        </div><!-- col -->
      </div><!-- row -->
    </div><!-- container -->

  </div>

</template>

<script>
import CardSection from '@src/components/CardSection';
import TopNavigationBar from '@src/components/TopNavigationBar';
import EditCricketAgeGroup from '@src/views/cricket/age_group_components/EditCricketAgeGroup';
import ListCricketAGStudents from '@src/views/cricket/age_group_components/ListCricketAGStudents';
import Cricket1DayPerformances from '@src/views/cricket/age_group_components/performances/Cricket1DayPerformances';
import Cricket2DaysPerformances from '@src/views/cricket/age_group_components/performances/Cricket2DaysPerformances';
import CricketT20Performances from '@src/views/cricket/age_group_components/performances/CricketT20Performances.vue';
import EditCoachPage from '@src/views/staff/coaches/EditCoachPage';

const _ = require( 'lodash' );

export default {
  name: 'CricketAgeGroupPage',
  components: {
    CricketT20Performances,
    Cricket2DaysPerformances,
    Cricket1DayPerformances,
    ListCricketAGStudents,
    EditCricketAgeGroup,
    EditCoachPage,
    CardSection,
    TopNavigationBar,
  },

  data() {
    return {
      //
    };
  },

  computed: {

    ageGroupId() {
      return _.toNumber( this.$route.params.ageGroupId );
    },

  },

  mounted() {
    //
  },

  methods: {
    //
  },

};
</script>

<style scoped>

</style>
