<template>

  <div class="" v-if="loaded">
    <TopNavigationBar/>


    <div class="container">
      <div class="row">
        <div class="col">


          <CardSection color="blue">

            <template v-slot:title>Manage Cricket Age Groups</template>

            <button class="btn btn-primary mb-2" data-bs-target="#modal__add_new_cricket_age_group" data-bs-toggle="modal">
              Add new age group
            </button>

            <table class="table table-bordered" id="dt_cricketAgeGroup">
              <thead>
              <tr>
                <td>Year</td>
                <td>Title</td>
                <td>Coach</td>
                <td>Master-in-charge</td>
              </tr>
              </thead>
              <tbody>
              <tr v-for="item in cricketAgeGroupsList" :key="item.id">
                <td>
                  <router-link :to="{name: 'cricketAgeGroupPage', params: {'ageGroupId': item.id}}">
                    {{ item.year }}
                  </router-link>
                </td>
                <td>{{ item.title }}</td>
                <td>{{ item.coach.full_name }}</td>
                <td>{{ item.master_in_charge.full_name }}</td>
              </tr>
              </tbody>
            </table>

          </CardSection>

        </div>
      </div>
    </div>


    <!-- MODAL: add new age group -->
    <ModalWindow id="modal__add_new_cricket_age_group" title="Add new age group" ref="mdl_age_group">

      <div class="">

        <div class="mb-3">
          <label class="form-label">Title</label>
          <select class="form-select" v-model="ageGroup.title">
            <option value="NULL" disabled>CHOOSE ONE</option>
            <option v-for="item in titleValues" :value="item">{{ item }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label">Year</label>
          <input type="number" class="form-control" v-model="ageGroup.year">
        </div>

        <div class="mb-3">
          <label class="form-label">Coach</label>
          <select class="form-select" v-model="ageGroup.coach_id">
            <option value="-1" disabled>CHOOSE ONE</option>
            <option v-for="item in coachesList" :value="item.id">{{ item.full_name }}</option>
          </select>
        </div>


        <div class="mb-3">
          <label class="form-label">Master in-charge</label>
          <select class="form-select" v-model="ageGroup.master_in_charge_id">
            <option value="-1" disabled>CHOOSE ONE</option>
            <option v-for="item in mastersInChargeList" :value="item.id">{{ item.full_name }}</option>
          </select>
        </div>

        <div class="text-center">
          <button class="btn btn-secondary" @click="onCreateNewAgeGroup()" :disabled="!isCreateAgeGroupFormValid">Create</button>
          <button class="btn btn-warning" @click="onHideModal()">Close</button>
        </div>

      </div>

    </ModalWindow>

  </div><!-- template -->

</template>

<script>
import {errorDialog} from '@src/assets/libs/bootloks';
import {defaultDTOptions} from '@src/assets/libs/dataTableOptions';
import CardSection from '@src/components/CardSection';
import ModalWindow from '@src/components/ModalWindow';
import TopNavigationBar from '@src/components/TopNavigationBar';
import moment from 'moment';

const _ = require( 'lodash' );

export default {
  name: 'CricketPage',
  components: { ModalWindow, CardSection, TopNavigationBar },

  data() {
    return {

      loaded: false,

      titleValues: [
        'Under 12',
        'Under 14',
        'Under 16',
        'Under 18',
        'Under 20',
      ],

      ageGroup: {
        title: 'NULL',
        coach_id: 1,
        master_in_charge_id: 1,
        year: parseInt( moment().format( 'YYYY' ) ),
      },

      dtAgeGroup: null,

    };
  },

  computed: {
    /** @returns {MasterInCharge[]} */
    mastersInChargeList() {
      return this.$store.getters[ 'mastersInCharge/getMastersInChargeList' ];
    },

    /** @returns {Coach[]} */
    coachesList() {
      return this.$store.getters[ 'coaches/getCoachesList' ];
    },

    /** @returns {CricketAgeGroup[]} */
    cricketAgeGroupsList() {
      return this.$store.getters[ 'cricketAgeGroups/getAgeGroupsList' ];
    },


    isCreateAgeGroupFormValid() {
      return this.ageGroup.title !== 'NULL' && _.isNumber( this.ageGroup.year );
    },

  },

  mounted: async function () {
    try {


      await this.$store.dispatch( 'coaches/fetchAll' );
      await this.$store.dispatch( 'mastersInCharge/fetchAll' );

      await this.$store.dispatch( 'cricketAgeGroups/fetchAll' );

      this.loaded = true;

    } catch ( e ) {
      errorDialog( { message: 'Failed to fetch details' } );
    }

    this.initDataTable();

  },

  methods: {

    async onCreateNewAgeGroup() {

      try {

        this.dtAgeGroup.destroy();

        const params = {
          coach_id: this.ageGroup.coach_id,
          master_in_charge_id: this.ageGroup.master_in_charge_id,
          title: this.ageGroup.title,
          year: this.ageGroup.year,
        };

        await this.$store.dispatch( 'cricketAgeGroups/create', params );
        await this.$store.dispatch( 'cricketAgeGroups/fetchAll' );

        this.$refs.mdl_age_group.hide();

      } catch ( e ) {

        const message = {
          message: 'Failed to create age group',
        };

        if ( e.response.data.payload.error ) {
          message.message = e.response.data.payload.error;
        }

        errorDialog( message );
      }

      this.initDataTable();

    },

    onHideModal() {
      this.$refs.mdl_age_group.hide();
    },

    /*
    * init data table instance
    * */
    initDataTable() {
      this.$nextTick( () => {
        this.dtAgeGroup = $( '#dt_cricketAgeGroup' ).DataTable( defaultDTOptions );
      } );
    },

  },


};
</script>

<style scoped>

</style>
