<template>
  <div>
    <TopNavigationBar/>

    <div class="container">
      <div class="row justify-content-center">
        <!-- section: add sport -->
        <div class="col-3">
          <CreateSport/>
        </div>
        <!-- end section: add sport -->

        <!-- section: list sports -->
        <div class="col-9">

          <CardSection color="blue">
            <template v-slot:title>Sports List</template>

            <table class="table table-bordered table-hover">
              <thead>
              <tr>
                <th>Title</th>
                <th>HPE Teacher</th>
                <th>Master In-Charge</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="item in sportsList" :key="item.id">
                <td>
                  <router-link :to="'/sports/' + item.id">{{ item.title }}</router-link>
                </td>
                <td>
                  <router-link :to="'/staff/hpe-teachers/edit/' + item.hpe_teacher.id">{{ item.hpe_teacher.full_name }}</router-link>
                </td>
                <td>
                  <router-link :to=" '/staff/masters-in-charge/edit/' + item.master_in_charge.id"> {{ item.master_in_charge.full_name }}</router-link>
                </td>
              </tr>
              </tbody>
            </table>

          </CardSection>

        </div>
        <!-- end section: list sports -->
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
</template>

<script>
import CardSection from '@src/components/CardSection';
import TopNavigationBar from '@src/components/TopNavigationBar';
import CreateSport from '@src/views/sports/components/CreateSport';
import {errorDialog} from '@src/assets/libs/bootloks';


export default {
  name: 'ManageSportsPage',
  components: { CardSection, CreateSport, TopNavigationBar },

  data() {
    return {
      //
    };
  },

  computed: {

    /**
     *
     * @returns {Sport[]}
     */
    sportsList() {
      return this.$store.getters.getSportsList;
    },
  },

  async mounted() {
    try {
      await this.$store.dispatch( 'sports_fetchAll' );
    } catch ( e ) {
      errorDialog( { message: 'Failed to fetch sports data' } );
    }
  },

  methods: {
    //
  },
};
</script>

<style scoped></style>
