<template>

  <div>
    <TopNavigationBar/>


    <!-- sport details -->

    <div class="container">
      <div class="row">
        <div class="col">

          <div class="window gray">
            <div class="window-title">Sport details</div>
            <div class="window-body">

              <div class="row">

                <div class="col">
                  <div class="mb-3">
                    <label class="form-label">Sport title</label>
                    <input type="text" class="form-control" v-model.trim="selectedSport.title">
                  </div>
                </div>

                <div class="col">
                  <label class="form-label">HPE Teacher</label>
                  <select class="form-select" v-model="selectedSport.hpe_teacher_id">
                    <option value="-1" disabled>CHOOSE ONE</option>
                    <option v-for="item in hpeTeachersList" :value="item.id">{{ item.full_name }}</option>
                  </select>
                </div>


                <div class="col">
                  <label class="form-label">Master in-charge</label>
                  <select class="form-select" v-model="selectedSport.master_in_charge_id">
                    <option value="-1" disabled>CHOOSE ONE</option>
                    <option v-for="item in mastersInChargeList" :value="item.id">{{ item.full_name }}</option>
                  </select>
                </div>


              </div><!-- row -->

              <div class="row justify-content-center">
                <div class="col-auto">
                  <button class="btn btn-primary">Update</button>
                  <router-link to="/sports" class="btn btn-secondary">Back</router-link>
                </div>
              </div>

            </div>
          </div>

          <hr>
        </div>
      </div><!-- row -->
    </div><!-- container -->
    <!-- sport details -->

    <!-- age group section -->
    <div class="container">
      <div class="row">

        <!-- create new age group -->
        <div class="col-4">
          <CreateAgeGroup/>
        </div><!-- col -->

        <div class="col-8">
          <ListAgeGroups/>
        </div>

      </div><!-- row -->
    </div><!-- container -->
    <!-- age group section -->


  </div><!-- template -->

</template>

<script>
import TopNavigationBar from '@src/components/TopNavigationBar';
import CreateAgeGroup from '@src/views/sports/age_groups/components/CreateAgeGroup';
import ListAgeGroups from '@src/views/sports/age_groups/components/ListAgeGroups';
import {errorDialog} from '@src/assets/libs/bootloks';


export default {
  name: 'SportDetailsPage',
  components: { ListAgeGroups, CreateAgeGroup, TopNavigationBar },

  data() {
    return {

      // sport: {
      //   title: "",
      //   hpe_teacher_id: -1,
      //   master_in_charge_id: -1,
      // },

    };
  },

  computed: {

    /** @returns {HpeTeacher[]} */
    hpeTeachersList() {
      return this.$store.getters.getHpeTeachersList;
    },

    /**
     *
     * @returns {MasterInCharge[]}
     */
    mastersInChargeList() {
      return this.$store.getters.getMastersInChargeList;
    },

    /**
     * @returns {Sport}
     */
    selectedSport() {
      return this.$store.getters.getSelectedSport;
    },

    sportId() {
      return this.$route.params.id;
    },

  },

  async mounted() {
    try {

      await this.$store.dispatch( 'sports_fetch', this.sportId );

      await this.$store.dispatch( 'hpeTeachers_fetchAll' );
      await this.$store.dispatch( 'mastersInCharge_fetchAll' );
    } catch ( e ) {
      errorDialog( { message: 'Failed to fetch teacher data' } );
    }
  },

  methods: {
    //
  },


};
</script>

<style scoped>

</style>
