<template>

  <div>

    <TopNavigationBar/>

    <div class="container">
      <div class="row">

        <div class="col">

          <h1>School Sport Management System</h1>

        </div>

      </div>
    </div>

  </div><!-- template -->

</template>

<script>
import TopNavigationBar from "../../components/TopNavigationBar";


export default {
  name: "Home",
  components: {TopNavigationBar},

  mounted() {


  },

}
</script>

<style scoped>

</style>
