<template>

  <div class="text-center mt-5">
    <h1>404 Error! Page Not Found</h1>
    <p>You can go back to
      <router-link to="/">home</router-link>
    </p>
  </div>

</template>

<script>
export default {
  name: "Page404"
}
</script>

<style scoped>

</style>
