<template>

  <div class="table-responsive">

    <table class="table table-bordered table-striped" v-if="studentsList.length > 0">
      <thead>
      <tr>
        <th>Admission No.</th>
        <th>Full name</th>
        <th>DoA</th>
        <th>DoB</th>
        <th>BC No.</th>
        <th>Grade</th>
        <th>House</th>
        <th>Email</th>
        <th>Contact No.</th>
        <th>Guardian</th>
        <th>Address</th>
      </tr>
      </thead>

      <tbody>

      <tr v-for="student in studentsList" :key="student.id">
        <td>
          <router-link :to="'/students/edit/' + student.id">{{ student.admission_number }}</router-link>
        </td>
        <td>{{ student.full_name }}</td>
        <td>{{ student.date_of_admission }}</td>
        <td>{{ student.dob }}</td>
        <td>{{ student.bc_number }}</td>
        <td>{{ student.grade }}</td>
        <td>{{ student.house }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.contact_number }}</td>
        <td>{{ student.guardian_name }}</td>
        <td>{{ student.address }}</td>
      </tr>

      </tbody>

    </table>

    <div v-else>
      <h3 class="text-center">There are no results.</h3>
    </div>

  </div>

</template>

<script>
import {errorDialog} from '@src/assets/libs/bootloks';

export default {
  name: 'SearchStudentsSubPage',

  data() {
    return {

      studentsList: [],

    };
  },

  computed: {

    keyword() {
      return this.$route.params.keyword;
    },

  },

  async mounted() {

    if ( this.$route.params.keyword === '' ) {
      await this.$router.push( '/students' );
    } else {
      await this.onSearch( this.keyword );
      $( '.table' ).DataTable();
    }

  },

  async beforeRouteUpdate( to, from, next ) {

    if ( to.params.keyword === '' ) {
      await this.$router.push( '/students' );

    } else {
      await this.onSearch( to.params.keyword );
      next();
    }

  },

  methods: {

    /*
   * on search
   * */
    async onSearch( keyword ) {

      try {

        await this.$store.dispatch( 'students/search', keyword );
        this.studentsList = this.$store.getters[ 'students/getStudentsList' ];

        $( '.table' ).DataTable();

      } catch ( e ) {
        errorDialog( { message: 'Failed to fetch search results' } );
      }
    },

  },

};
</script>

<style scoped>

</style>
