<template>

  <div>

    <CardSection color="purple">
      <template v-slot:title>Create New Sport</template>

      <div class="mb-3">
        <label class="form-label">Sport title</label>
        <input type="text" class="form-control" v-model.trim="sport.title">
      </div>

      <div class="mb-3">
        <label class="form-label">HPE Teacher</label>
        <select class="form-select" v-model="sport.hpe_teacher_id">
          <option value="-1" disabled>CHOOSE ONE</option>
          <option v-for="item in hpeTeachersList" :value="item.id">{{ item.full_name }}</option>
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label">Master in-charge</label>
        <select class="form-select" v-model="sport.master_in_charge_id">
          <option value="-1" disabled>CHOOSE ONE</option>
          <option v-for="item in mastersInChargeList" :value="item.id">{{ item.full_name }}</option>
        </select>
      </div>

      <div class="text-center">
        <button class="btn btn-primary" @click="onSave()">Add</button>
        <button class="btn btn-secondary" @click="onClear()">Clear</button>
      </div>

    </CardSection>


  </div><!-- template -->

</template>

<script>
import {errorDialog, successDialog} from '@src/assets/libs/bootloks';
import CardSection from '@src/components/CardSection';

export default {
  name: "CreateSport",
  components: { CardSection },
  data() {
    return {
      sport: {
        title: "",
        hpe_teacher_id: -1,
        master_in_charge_id: -1,
      }
    }
  },

  computed: {

    hpeTeachersList() {
      return this.$store.getters.getHpeTeachersList;
    },

    mastersInChargeList() {
      return this.$store.getters.getMastersInChargeList;
    }

  },

  async mounted() {
    try {
      await this.$store.dispatch( "hpeTeachers_fetchAll" );
      await this.$store.dispatch( "mastersInCharge_fetchAll" );
    } catch ( e ) {
      errorDialog( { message: "Failed to fetch teacher data" } );
    }
  },

  methods: {

    onClear() {
      this.sport.title = "";
      this.sport.hpe_teacher_id = -1;
      this.sport.master_in_charge_id = -1;
    },

    async onSave() {

      try {

        const params = {
          title: this.sport.title,
          hpe_teacher_id: this.sport.hpe_teacher_id,
          master_in_charge_id: this.sport.master_in_charge_id,
        };

        await this.$store.dispatch( "sports_create", params );
        successDialog( { message: "Sport details saved" } );

        /* fetch all sports again */
        await this.$store.dispatch( "sports_fetchAll" );

      } catch ( e ) {
        errorDialog( { message: "Failed to save sport details" } );
      }

    },

  },
}
</script>

<style scoped>

</style>
