<template>
  <div class="window purple">
    <div class="window-title">
      Add new master in-charge
    </div>

    <div class="window-body">

      <div class="mb-3">
        <label class="form-label">Full name*</label>
        <input type="text" class="form-control" v-model.trim="masterInCharge.full_name">
      </div>

      <div class="mb-3">
        <label class="form-label">Contact number*</label>
        <input type="text" class="form-control" v-model.trim="masterInCharge.contact_number">
      </div>

      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" v-model.trim="masterInCharge.email">
      </div>

      <div class="mb-3">
        <label class="form-label">Address*</label>
        <textarea rows="3" class="form-control" v-model.trim="masterInCharge.address"></textarea>
      </div>

      <div class="text-center">
        <button class="btn btn-primary" @click="onSave()">Add</button>
        <button class="btn btn-secondary" @click="onClear()">Clear</button>
      </div>

      <div class="text-center my-3">
        Fields marked with * are required.
      </div>

    </div>

  </div>
</template>

<script>


import {errorDialog} from '@src/assets/libs/bootloks';

export default {
  name: 'CreateMasterInCharge',

  data() {
    return {
      masterInCharge: {
        full_name: '',
        contact_number: '',
        email: '',
        address: '',
      },
    };
  },

  methods: {

    async onSave() {

      try {
        this.validateAddForm();
      } catch ( e ) {
        errorDialog( { message: e } );
        return;
      }

      try {

        const params = {
          full_name: this.masterInCharge.full_name,
          contact_number: this.masterInCharge.contact_number,
          email: this.masterInCharge.email,
          address: this.masterInCharge.address,
        };

        await this.$store.dispatch( 'mastersInCharge_create', params );

      } catch ( e ) {
        errorDialog( { message: 'Failed to save staff details' } );
      }

      try {
        await this.$store.dispatch( 'mastersInCharge_fetchAll' );
      } catch ( e ) {

        errorDialog( { message: 'Failed to fetch staff details' } );

      }


    }, /* on save */

    onClear() {

      this.masterInCharge.full_name = '';
      this.masterInCharge.email = '';
      this.masterInCharge.contact_number = '';
      this.masterInCharge.address = '';

    }, /* on clear */


    validateAddForm() {

      if ( this.masterInCharge.full_name === '' ) {
        throw 'Full name is required';
      } else if ( this.masterInCharge.address === '' ) {
        throw 'Address is required';
      } else if ( this.masterInCharge.contact_number === '' ) {
        throw 'Contact number is required';
      }

    }, /* validate form */

  },

};
</script>

<style scoped>

</style>
