<template>

  <div class="window purple">
    <div class="window-title">
      Add new teacher
    </div>

    <div class="window-body">

      <div class="mb-3">
        <label class="form-label">Full name</label>
        <input type="text" class="form-control" v-model.trim="teacher.full_name">
      </div>

      <div class="mb-3">
        <label class="form-label">Contact number</label>
        <input type="text" class="form-control" v-model.trim="teacher.contact_number">
      </div>

      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" v-model.trim="teacher.email">
      </div>

      <div class="mb-3">
        <label class="form-label">Address</label>
        <textarea rows="3" class="form-control" v-model.trim="teacher.address"></textarea>
      </div>

      <div class="text-center">
        <button class="btn btn-primary" @click="onSave()">Add</button>
        <button class="btn btn-secondary" @click="onClear()">Clear</button>
      </div>

    </div>

  </div>

</template>

<script>
import {errorDialog} from '@src/assets/libs/bootloks';

export default {
  name: 'CreateHpeTeacher',

  data() {
    return {
      teacher: {
        full_name: '',
        contact_number: '',
        email: '',
        address: '',
      },
    };
  },

  computed: {
    //
  },

  mounted() {
    //
  },

  methods: {

    async onSave() {

      try {

        const params = {
          full_name: this.teacher.full_name,
          contact_number: this.teacher.contact_number,
          email: this.teacher.email,
          address: this.teacher.address,
        };

        await this.$store.dispatch( 'hpeTeachers/create', params );

      } catch ( e ) {
        errorDialog( { message: 'Failed to save teacher details' } );
      }

      try {
        await this.$store.dispatch( 'hpeTeachers/fetchAll' );
      } catch ( e ) {
        errorDialog( { message: 'Failed to fetch staff details' } );
      }


    }, /* on save */

    onClear() {

      this.teacher.full_name = '';
      this.teacher.email = '';
      this.teacher.contact_number = '';
      this.teacher.address = '';

    }, /* on clear */

  },

};
</script>

<style scoped>

</style>
