<template>

  <div>

    <CardSection class="mb-3">
      <template v-slot:title>One Day Performances (6)</template>


      <div id="charts__cricket_performance" class="mb-3">
        <div class="row g-2">

          <div class="col-3">
            <div class="card">
              <div class="card-header">Matches Played</div>
              <div class="card-body">
                <canvas id="chart_pie__match_types" height="250px"></canvas>
              </div>
            </div>
          </div>


          <div class="col-9">
            <div class="card">
              <div class="card-header">Games Scores</div>
              <div class="card-body">
                <canvas id="chart_bar__games_score" height="250px"></canvas>
              </div>
            </div>
          </div>

        </div>
      </div>


      <div class="">

        <div class="mb-3">
          <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal__cricket_age_add_performance">
            Add performance
          </button>
        </div>

        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Date</th>
            <th>Tournament</th>
            <th>Ground</th>
            <th>Team B</th>
            <th class="text-center">Score (Runs/Wickets)</th>
            <th class="text-center">Result</th>
            <th style="width: 10px"></th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="item in ageGroupPerformancesList" :key="item.id">
            <td>{{ item.match_date }}</td>
            <td>{{ item.tournament_name }}</td>
            <td>{{ item.ground }}</td>
            <td>{{ item.b_team_name }}</td>
            <td>

              <div class="d-flex gap-2 justify-content-between w-100">
                <div class="alert m-0 alert-success p-1">A: {{ item.a_runs }} / {{ item.a_wickets }}</div>
                <div class="alert m-0 alert-warning p-1">{{ item.b_runs }} / {{ item.b_wickets }} :B</div>
              </div>

            </td>
            <td class="fw-bold text-center">{{ renderResult( item.result ) }}</td>
            <td>
              <button class="btn btn-sm btn-secondary" @click="openEditModal(item)">
                <i class="bi bi-box-arrow-in-right"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>


      </div>

    </CardSection>

    <!--
     # MODAL WINDOW: Add new performance -------------------------------------------------------
     -->

    <ModalWindow id="modal__cricket_age_add_performance" ref="modal_add_performance" title="Add a performance">

      <div class="row g-2">

        <div class="col-4">
          <div class="mb-3">
            <label class="form-label">Match date</label>
            <DateField v-model="performanceToAdd.match_date"/>
          </div>
        </div>

        <div class="col-8">
          <div class="mb-3">
            <label class="form-label">Tournament name</label>
            <input type="text" class="form-control" v-model.trim="performanceToAdd.tournament_name">
          </div>
        </div>

      </div>

      <div class="row g-2">
        <div class="col-8">
          <div class="mb-3">
            <label class="form-label">Ground</label>
            <input type="text" class="form-control" v-model.trim="performanceToAdd.ground">
          </div>
        </div>

      </div>


      <div class="row">
        <div class="col">

          <div class="mb-3">
            <label class="form-label">Team B Name</label>
            <input type="text" class="form-control" v-model.trim="performanceToAdd.b_team_name">
          </div>

        </div>
      </div>


      <div class="row g-2">
        <!-- team A -->
        <div class="col">

          <div class="alert alert-success">

            <p class="lead text-center">Team A (Us)</p>

            <div class="d-flex gap-2">
              <div class="mb-3">
                <label class="form-label">Runs</label>
                <input type="number" class="form-control" v-model.number="performanceToAdd.a_runs">
              </div>

              <div class="mb-3">
                <label class="form-label">Wickets</label>
                <input type="number" class="form-control" v-model.number="performanceToAdd.a_wickets">
              </div>

            </div>

          </div>

        </div>

        <!-- team B -->
        <div class="col">

          <div class="alert alert-warning">

            <p class="lead text-center">Team B (Them)</p>

            <div class="d-flex gap-2">

              <div class="mb-3">
                <label class="form-label">Runs</label>
                <input type="number" class="form-control" v-model.number="performanceToAdd.b_runs">
              </div>

              <div class="mb-3">
                <label class="form-label">Wickets</label>
                <input type="number" class="form-control" v-model.number="performanceToAdd.b_wickets">
              </div>

            </div>


          </div>


        </div>

      </div><!-- row -->


      <div class="row justify-content-center">
        <div class="col-4">

          <div class="mb-3 text-center">
            <label class="form-label">Result</label>
            <select class="form-select" v-model="performanceToAdd.result">
              <option v-for="(item, key) in results" :value="key" :key="key">{{ item }}</option>
            </select>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col text-center">

          <button class="btn btn-primary" @click="onAddPerformance()">Add</button>

        </div>
      </div>

    </ModalWindow>

    <!--
     # MODAL: Edit performance --------------------------------------------------------------------
     -->

    <ModalWindow id="modal_edit_performance_1day" ref="modal_edit_performance_1day" title="Edit performance details">

      <div class="row g-2">

        <div class="col-4">
          <div class="mb-3">
            <label class="form-label">Match date</label>
            <DateField v-model="selectedPerformance.match_date"/>
          </div>
        </div>

        <div class="col-8">
          <div class="mb-3">
            <label class="form-label">Tournament name</label>
            <input type="text" class="form-control" v-model.trim="selectedPerformance.tournament_name">
          </div>
        </div>

      </div>

      <div class="row g-2">
        <div class="col-8">
          <div class="mb-3">
            <label class="form-label">Ground</label>
            <input type="text" class="form-control" v-model.trim="selectedPerformance.ground">
          </div>
        </div>

      </div>


      <div class="row">
        <div class="col">

          <div class="mb-3">
            <label class="form-label">Team B Name</label>
            <input type="text" class="form-control" v-model.trim="selectedPerformance.b_team_name">
          </div>

        </div>
      </div>


      <div class="row g-2">
        <!-- team A -->
        <div class="col">

          <div class="alert alert-success">

            <p class="lead text-center">Team A (Us)</p>

            <div class="d-flex gap-2">
              <div class="mb-3">
                <label class="form-label">Runs</label>
                <input type="number" class="form-control" v-model.number="selectedPerformance.a_runs">
              </div>

              <div class="mb-3">
                <label class="form-label">Wickets</label>
                <input type="number" class="form-control" v-model.number="selectedPerformance.a_wickets">
              </div>

            </div>

          </div>

        </div>

        <!-- team B -->
        <div class="col">

          <div class="alert alert-warning">

            <p class="lead text-center">Team B (Them)</p>

            <div class="d-flex gap-2">

              <div class="mb-3">
                <label class="form-label">Runs</label>
                <input type="number" class="form-control" v-model.number="selectedPerformance.b_runs">
              </div>

              <div class="mb-3">
                <label class="form-label">Wickets</label>
                <input type="number" class="form-control" v-model.number="selectedPerformance.b_wickets">
              </div>

            </div>


          </div>


        </div>

      </div><!-- row -->


      <div class="row justify-content-center">
        <div class="col-4">

          <div class="mb-3 text-center">
            <label class="form-label">Result</label>
            <select class="form-select" v-model="selectedPerformance.result">
              <option v-for="(item, key) in results" :value="key" :key="key">{{ item }}</option>
            </select>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col text-center">

          <button class="btn btn-primary" @click="onUpdatePerformance()">Update</button>

        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col">

          <div class="alert alert-danger  text-center">
            <div>Remove this performance details. This action is irreversible. To remove, type 'DELETE' to confirm.</div>

            <input type="text" class="form-control mb-3" v-model="deleteSelectedPerformance.textConfirm">
            <button class="btn btn-sm btn-danger"
                    :disabled="deleteSelectedPerformance.textConfirm !== 'DELETE'"
                    @click="onRemovePerformance()">
              Confirm Delete
            </button>

          </div>
        </div>

      </div>


    </ModalWindow>


  </div>

</template>

<script>
import {errorDialog} from '@src/assets/libs/bootloks';
import CardSection from '@src/components/CardSection';
import DateField from '@src/components/fields/DateField';
import ModalWindow from '@src/components/ModalWindow';

import Chart from 'chart.js/auto';

import moment from 'moment';

const _ = require( 'lodash' );

export default {
  name: 'Cricket1DayPerformances',
  components: { DateField, ModalWindow, CardSection },

  props: {
    ageGroupId: {
      required: true,
      type: Number,
    },
  },

  data() {
    return {

      match_types: {
        '1D': 'One day',
        '2D': 'Two day',
        'T20': 'T20',
      },

      results: {
        'WIN': 'Win',
        'LOSS': 'Loss',
        'TIE': 'Tie',
        'DRAW': 'Draw',
        'NO': 'No result',
      },


      /**
       * Performance to add (goes in the add modal)
       */
      performanceToAdd: {
        age_group_id: this.ageGroupId,

        tournament_name: '',
        match_date: moment().format( 'YYYY-MM-DD' ),
        match_type: '1D',
        ground: '',

        a_runs: 0,
        a_wickets: 0,

        b_team_name: '',
        b_runs: 0,
        b_wickets: 0,

        result: 'WIN',

      },

      /*
      * Selected performance to edit (goes in the edit modal)
      * */
      selectedPerformance: {
        age_group_id: this.ageGroupId,

        tournament_name: '',
        match_date: moment().format( 'YYYY-MM-DD' ),
        match_type: '1D',
        ground: '',

        a_runs: 0,
        a_wickets: 0,

        b_team_name: '',
        b_runs: 0,
        b_wickets: 0,

        result: 'WIN',
      },

      /**
       * Delete selected performance
       */
      deleteSelectedPerformance: {
        textConfirm: '',
      },


      /*
      * Chart.js data
      * */
      chartMatches: null,
      chartRuns: null,


    };
  },


  computed: {

    /** @returns {CricketAgeGroupPerformance[]} */
    ageGroupPerformancesList() {
      return this.$store.getters[ 'cricket1DayPerf/getAgeGroupPerformancesList' ];
    },

    /** @returns {CricketGameStats} */
    gameStats() {
      return this.$store.getters[ 'cricket1DayPerf/getStats' ];
    },

  },


  async mounted() {

    await this._fetchAllPerformances();
    await this._fetchStats();

  },


  methods: {

    async onAddPerformance() {

      try {

        const params = {
          age_group_id: this.performanceToAdd.age_group_id,

          tournament_name: this.performanceToAdd.tournament_name,
          match_date: this.performanceToAdd.match_date,
          ground: this.performanceToAdd.ground,

          a_runs: this.performanceToAdd.a_runs,
          a_wickets: this.performanceToAdd.a_wickets,

          b_team_name: this.performanceToAdd.b_team_name,
          b_runs: this.performanceToAdd.b_runs,
          b_wickets: this.performanceToAdd.b_wickets,

          result: this.performanceToAdd.result,
        };

        await this.$store.dispatch( 'cricket1DayPerf/addPerformance', params );

        await this._fetchAllPerformances();
        await this._fetchStats();


        /* close/hide the modal window once performance is successfully added. */
        this.$refs.modal_add_performance.hide();

      } catch ( e ) {
        errorDialog( {
          message: 'Failed to add performance details',
        } );
      }

    }, /* on add performance */


    async onUpdatePerformance() {
      try {

        const params = {
          id: this.selectedPerformance.id,

          tournament_name: this.selectedPerformance.tournament_name,
          match_date: this.selectedPerformance.match_date,
          ground: this.selectedPerformance.ground,

          a_runs: this.selectedPerformance.a_runs,
          a_wickets: this.selectedPerformance.a_wickets,

          b_team_name: this.selectedPerformance.b_team_name,
          b_runs: this.selectedPerformance.b_runs,
          b_wickets: this.selectedPerformance.b_wickets,

          result: this.selectedPerformance.result,
        };

        await this.$store.dispatch( 'cricket1DayPerf/updatePerformance', params );

        await this._fetchAllPerformances();
        await this._fetchStats();


        /* close/hide the modal window once performance is successfully added. */
        this.$refs.modal_edit_performance_1day.hide();

      } catch ( e ) {
        errorDialog( {
          message: 'Failed to update performance details',
        } );
      }
    }, /* on update performance */


    async onRemovePerformance() {

      try {

        await this.$store.dispatch( 'cricket1DayPerf/removePerformance', this.selectedPerformance.id );

        await this._fetchAllPerformances();
        await this._fetchStats();


        /* close/hide the modal window once performance is successfully added. */
        this.$refs.modal_edit_performance_1day.hide();

      } catch ( e ) {
        errorDialog( {
          message: 'Failed to delete performance details',
        } );
      }

    },

    openEditModal( selected ) {
      this.selectedPerformance = selected;
      this.$refs.modal_edit_performance_1day.show();
    }, /* on open edit modal window */


    /*
    *
    * PRIVATE METHODS ------------------------------------------------------------------------------------
    *
    * */

    async _fetchAllPerformances() {

      try {
        await this.$store.dispatch( 'cricket1DayPerf/fetchAllPerformances', this.ageGroupId );
      } catch ( e ) {
        errorDialog( {
          message: 'Unable to fetch performance details',
        } );
      }

    }, /* fetch all performances */

    async _fetchStats() {
      try {

        await this.$store.dispatch( 'cricket1DayPerf/fetchStats', this.ageGroupId );

        this._generateOneDayGamesPieChart();
        this._generateOneDayGamesRunsBarChart();

      } catch ( e ) {
        console.log( e );
        errorDialog( { message: 'Failed to fetch games stats' } );
      }
    },


    /*
    *
    * RENDER METHODS ---------------------------------------------------------------------------------------
    *
    * */
    renderResult( value ) {
      return this.results[ value ];
    },


    /*
    *
    * Chart JS METHODS --------------------------------------------------------------------------------------
    *
    * */

    _generateOneDayGamesPieChart() {

      /* Chart: Match Types (win, loss, tie ...) */

      if ( this.chartMatches !== null ) {

        this.chartMatches.data.datasets[ 0 ].data = [
          this.gameStats.matches.win,
          this.gameStats.matches.loss,
          this.gameStats.matches.tie,
          this.gameStats.matches.draw,
        ];

        this.chartMatches.update();

      } else {

        this.chartMatches = new Chart( 'chart_pie__match_types', {
          type: 'doughnut',
          data: {
            labels: ['Win', 'Loss', 'Tie', 'Draw'],
            datasets: [
              {
                data: [
                  this.gameStats.matches.win,
                  this.gameStats.matches.loss,
                  this.gameStats.matches.tie,
                  this.gameStats.matches.draw,
                ],
                backgroundColor: ['#198754', '#dc3545', '#ffc107', '#0d6efd'],
              },
            ],
          },
          options: {
            maintainAspectRatio: false,
          },
        } );

      }


    },

    _generateOneDayGamesRunsBarChart() {

      /* Chart: Runs for games played */

      if ( this.chartRuns !== null ) {
        this.chartRuns.data = {
          labels: this.gameStats.games_runs.games_titles,
          datasets: [
            {
              label: 'Team A',
              data: this.gameStats.games_runs.team_a_runs,
              backgroundColor: ['#198754'],
            },
            {
              label: 'Team B',
              data: this.gameStats.games_runs.team_b_runs,
              backgroundColor: ['#dc3545'],
            },
          ],
        };
        this.chartRuns.update();


      } else {

        this.chartRuns = new Chart( 'chart_bar__games_score', {
          type: 'bar',
          data: {
            labels: this.gameStats.games_runs.games_titles,
            datasets: [
              {
                label: 'Team A',
                data: this.gameStats.games_runs.team_a_runs,
                backgroundColor: ['#198754'],
              },
              {
                label: 'Team B',
                data: this.gameStats.games_runs.team_b_runs,
                backgroundColor: ['#dc3545'],
              },
            ],
          },
          options: {
            scales: {
              y: {
                beginAtZero: true,
              },
            },
            maintainAspectRatio: false,
          },
        } );

      }

    },


  },


};
</script>

<style scoped>

</style>
