<template>

  <div>

    <CardSection class="mb-3" :visible="false">
      <template v-slot:title>Two Days Performances</template>


      <div id="charts__cricket_performance" class="mb-3">
        <div class="row g-2">

          <div class="col-3">
            <div class="card">
              <div class="card-header">Matches Played</div>
              <div class="card-body">
                <canvas id="chart_pie__match_types_2days" height="250px"></canvas>
              </div>
            </div>
          </div>


          <div class="col-9">
            <div class="card">
              <div class="card-header">Games Scores</div>
              <div class="card-body">
                <canvas id="chart_bar__games_score_2days" height="250px"></canvas>
              </div>
            </div>
          </div>

        </div>
      </div>


      <div class="">

        <div class="mb-3">
          <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal__cricket_age_add_performance_2days">
            Add performance
          </button>
        </div>

        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Date</th>
            <th>Tournament</th>
            <th>Ground</th>
            <th>Team B</th>
            <th class="text-center">Score (Runs/Wickets)</th>
            <th class="text-center">Result</th>
            <th style="width: 10px"></th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="item in ageGroupPerformancesList" :key="item.id">
            <td>{{ item.match_date }}</td>
            <td>{{ item.tournament_name }}</td>
            <td>{{ item.ground }}</td>
            <td>{{ item.b_team_name }}</td>
            <td>

              <div class="d-flex gap-2 justify-content-between w-100">
                <div class="alert m-0 alert-success p-1 w-50">
                  <div class="">
                    A1: {{ item.a_runs_1 }} / {{ item.a_wickets_1 }}
                  </div>
                  <div class="">
                    A2: {{ item.a_runs_2 }} / {{ item.a_wickets_2 }}
                  </div>
                </div>
                <div class="alert m-0 alert-warning p-1 w-50">
                  <div class="">
                    B1: {{ item.b_runs_1 }} / {{ item.b_wickets_1 }}
                  </div>
                  <div class="">
                    B2: {{ item.b_runs_2 }} / {{ item.b_wickets_2 }}
                  </div>
                </div>
              </div>

            </td>
            <td class="fw-bold text-center">{{ renderResult( item.result ) }}</td>
            <td>
              <button class="btn btn-sm btn-secondary">
                <i class="bi bi-box-arrow-in-right"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>


      </div>

    </CardSection>

    <!--
     # MODAL WINDOW: Add new performance -------------------------------------------------------
     -->

    <ModalWindow id="modal__cricket_age_add_performance_2days" ref="modal_add_performance" title="Add a performance" size="lg">

      <div class="row g-2">

        <div class="col-4">
          <div class="mb-3">
            <label class="form-label">Match date</label>
            <DateField v-model="performanceToAdd.match_date"/>
          </div>
        </div>

        <div class="col-8">
          <div class="mb-3">
            <label class="form-label">Tournament name</label>
            <input type="text" class="form-control" v-model.trim="performanceToAdd.tournament_name">
          </div>
        </div>

      </div>

      <div class="row g-2">

        <div class="col">
          <div class="mb-3">
            <label class="form-label">Ground</label>
            <input type="text" class="form-control" v-model.trim="performanceToAdd.ground">
          </div>
        </div>

        <div class="col">
          <div class="mb-3">
            <label class="form-label">Team B Name</label>
            <input type="text" class="form-control" v-model.trim="performanceToAdd.b_team_name">
          </div>
        </div>

      </div><!-- row -->


      <div class="row g-2">
        <!-- team A -->
        <div class="col">

          <div class="alert alert-success">

            <p class="lead text-center">Team A (Us)</p>

            <div class="d-flex gap-2">
              <div class="mb-3">
                <label class="form-label">Innings 1: Runs</label>
                <input type="number" class="form-control" v-model.number="performanceToAdd.a_runs_1">
              </div>

              <div class="mb-3">
                <label class="form-label">Innings 1: Wickets</label>
                <input type="number" class="form-control" v-model.number="performanceToAdd.a_wickets_1">
              </div>

            </div>

            <div class="d-flex gap-2">
              <div class="mb-3">
                <label class="form-label">Innings 2: Runs</label>
                <input type="number" class="form-control" v-model.number="performanceToAdd.a_runs_2">
              </div>

              <div class="mb-3">
                <label class="form-label">Innings 2: Wickets</label>
                <input type="number" class="form-control" v-model.number="performanceToAdd.a_wickets_2">
              </div>

            </div>

          </div>

        </div>

        <!-- team B -->
        <div class="col">

          <div class="alert alert-warning">

            <p class="lead text-center">Team B (Them)</p>

            <div class="d-flex gap-2">

              <div class="mb-3">
                <label class="form-label">Innings 1: Runs</label>
                <input type="number" class="form-control" v-model.number="performanceToAdd.b_runs_1">
              </div>

              <div class="mb-3">
                <label class="form-label">Innings 1: Wickets</label>
                <input type="number" class="form-control" v-model.number="performanceToAdd.b_wickets_1">
              </div>

            </div>

            <div class="d-flex gap-2">

              <div class="mb-3">
                <label class="form-label">Innings 2: Runs</label>
                <input type="number" class="form-control" v-model.number="performanceToAdd.b_runs_2">
              </div>

              <div class="mb-3">
                <label class="form-label">Innings 2: Wickets</label>
                <input type="number" class="form-control" v-model.number="performanceToAdd.b_wickets_2">
              </div>

            </div>


          </div>


        </div>

      </div><!-- row -->


      <div class="row justify-content-center">
        <div class="col-4">

          <div class="mb-3 text-center">
            <label class="form-label">Result</label>
            <select class="form-select" v-model="performanceToAdd.result">
              <option v-for="(item, key) in results" :value="key" :key="key">{{ item }}</option>
            </select>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col text-center">

          <button class="btn btn-primary" @click="onAddPerformance()">Add</button>

        </div>
      </div>

    </ModalWindow>


  </div>

</template>

<script>
import {errorDialog} from '@src/assets/libs/bootloks';
import CardSection from '@src/components/CardSection';
import DateField from '@src/components/fields/DateField';
import ModalWindow from '@src/components/ModalWindow';

import Chart from 'chart.js/auto';

import moment from 'moment';

const _ = require( 'lodash' );

export default {
  name: 'Cricket2DaysPerformances',
  components: { DateField, ModalWindow, CardSection },

  props: {
    ageGroupId: {
      required: true,
      type: Number,
    },
  },

  data() {
    return {


      results: {
        'WIN': 'Win',
        'LOSS': 'Loss',
        'TIE': 'Tie',
        'DRAW': 'Draw',
        'NO': 'No result',
      },


      performanceToAdd: {
        age_group_id: this.ageGroupId,

        tournament_name: '',
        match_date: moment().format( 'YYYY-MM-DD' ),
        match_type: '1D',
        ground: '',

        a_runs_1: 0,
        a_runs_2: 0,
        a_wickets_1: 0,
        a_wickets_2: 0,

        b_team_name: '',
        b_runs_1: 0,
        b_runs_2: 0,
        b_wickets_1: 0,
        b_wickets_2: 0,

        result: 'WIN',

      },


      /*
      * Chart.js data
      * */

      chartMatches: null,
      chartRuns: null,


    };
  },


  computed: {

    /** @returns {CricketAgeGroupPerformance[]} */
    ageGroupPerformancesList() {
      return this.$store.getters[ 'cricket2DaysPerf/getAgeGroup2DaysPerformancesList' ];
    },

    /** @returns {CricketGameStats} */
    gameStats() {
      return this.$store.getters[ 'cricket2DaysPerf/get2DaysStats' ];
    },

  },


  async mounted() {

    await this._fetchAllPerformances();
    await this._fetchStats();

  },


  methods: {

    async onAddPerformance() {

      try {

        const params = {
          age_group_id: this.performanceToAdd.age_group_id,

          tournament_name: this.performanceToAdd.tournament_name,
          match_date: this.performanceToAdd.match_date,
          match_type: this.performanceToAdd.match_type,
          ground: this.performanceToAdd.ground,

          a_runs_1: this.performanceToAdd.a_runs_1,
          a_runs_2: this.performanceToAdd.a_runs_2,
          a_wickets_1: this.performanceToAdd.a_wickets_1,
          a_wickets_2: this.performanceToAdd.a_wickets_2,

          b_team_name: this.performanceToAdd.b_team_name,
          b_runs_1: this.performanceToAdd.b_runs_1,
          b_runs_2: this.performanceToAdd.b_runs_2,
          b_wickets_1: this.performanceToAdd.b_wickets_1,
          b_wickets_2: this.performanceToAdd.b_wickets_2,

          result: this.performanceToAdd.result,
        };

        await this.$store.dispatch( 'cricket2DaysPerf/add2DaysPerformance', params );

        await this._fetchAllPerformances();
        await this._fetchStats();


        /* close/hide the modal window once performance is successfully added. */
        this.$refs.modal_add_performance.hide();

      } catch ( e ) {
        errorDialog( {
          message: 'Failed to add performance details',
        } );
      }

    }, /* on add performance */

    /*
    *
    * PRIVATE METHODS ------------------------------------------------------------------------------------
    *
    * */

    async _fetchAllPerformances() {

      try {
        await this.$store.dispatch( 'cricket2DaysPerf/fetchAll2DaysPerformances', this.ageGroupId );
      } catch ( e ) {
        errorDialog( {
          message: 'Unable to fetch performance details',
        } );
      }

    }, /* fetch all performances */

    async _fetchStats() {
      try {

        await this.$store.dispatch( 'cricket2DaysPerf/fetch2DaysStats', this.ageGroupId );

        this._generateGamesPieChart();
        this._generateGamesRunsBarChart();

      } catch ( e ) {
        console.log( e );
        errorDialog( { message: 'Failed to fetch games stats' } );
      }
    },


    /*
    *
    * RENDER METHODS ---------------------------------------------------------------------------------------
    *
    * */
    renderResult( value ) {
      return this.results[ value ];
    },


    /*
    *
    * Chart JS METHODS --------------------------------------------------------------------------------------
    *
    * */

    _generateGamesPieChart() {

      /* Chart: Match Types (win, loss, tie ...) */

      if ( this.chartMatches !== null ) {

        this.chartMatches.data.datasets[ 0 ].data = [
          this.gameStats.matches.win,
          this.gameStats.matches.loss,
          this.gameStats.matches.tie,
          this.gameStats.matches.draw,
        ];

        this.chartMatches.update();

      } else {

        this.chartMatches = new Chart( 'chart_pie__match_types_2days', {
          type: 'doughnut',
          data: {
            labels: ['Win', 'Loss', 'Tie', 'Draw', 'No results'],
            datasets: [
              {
                data: [
                  this.gameStats.matches.win,
                  this.gameStats.matches.loss,
                  this.gameStats.matches.tie,
                  this.gameStats.matches.draw,
                  this.gameStats.matches.no,
                ],
                backgroundColor: ['#2ecc71', '#e74c3c', '#7f8c8d', '#f1c40f', '#34495e'],
              },
            ],
          },
          options: {
            maintainAspectRatio: false,
          },
        } );
      }

      this.chartMatches.canvas.parentNode.style.height = '250px';


    },

    _generateGamesRunsBarChart() {

      /* Chart: Runs for games played */

      if ( this.chartRuns !== null ) {
        this.chartRuns.data = {
          labels: this.gameStats.games_runs.games_titles,
          datasets: [
            {
              label: 'A: Ing 1: ',
              data: this.gameStats.games_runs.team_a_runs_1,
              backgroundColor: ['#1B9CFC'],
            },
            {
              label: 'B: Ing 1',
              data: this.gameStats.games_runs.team_b_runs_1,
              backgroundColor: ['#F97F51'],
            },
            {
              label: 'A: Ing 2: ',
              data: this.gameStats.games_runs.team_a_runs_2,
              backgroundColor: ['#1B9CFC'],
            },
            {
              label: 'B: Ing 2',
              data: this.gameStats.games_runs.team_b_runs_2,
              backgroundColor: ['#F97F51'],
            },
          ],
        };
        this.chartRuns.update();


      } else {

        this.chartRuns = new Chart( 'chart_bar__games_score_2days', {
          type: 'bar',
          data: {
            labels: this.gameStats.games_runs.games_titles,
            datasets: [
              {
                label: 'A: Ing 1: ',
                data: this.gameStats.games_runs.team_a_runs_1,
                backgroundColor: ['#1B9CFC'],
              },
              {
                label: 'B: Ing 1',
                data: this.gameStats.games_runs.team_b_runs_1,
                backgroundColor: ['#F97F51'],
              },
              {
                label: 'A: Ing 2: ',
                data: this.gameStats.games_runs.team_a_runs_2,
                backgroundColor: ['#1B9CFC'],
              },
              {
                label: 'B: Ing 2',
                data: this.gameStats.games_runs.team_b_runs_2,
                backgroundColor: ['#F97F51'],
              },
            ],
          },
          options: {
            scales: {
              y: {
                beginAtZero: true,
              },
            },
            maintainAspectRatio: false,
          },
        } );

      }


      this.chartRuns.canvas.parentNode.style.height = '250px';

    }, /* generate games runs bar chart */


  },
  /* __ methods __ */


};
</script>

<style scoped>

</style>
