<template>

  <div>

    <TopNavigationBar/>

    <div class="container">
      <div class="row justify-content-center">

        <div class="col-12 col-md-6">

          <div class="window purple mb-3">

            <div class="window-title">Add new student</div>

            <div id="form-edit-student" class="window-body">

              <div class="row">
                <div class="col">

                  <div class="mb-3">
                    <label class="form-label">Admission No.</label>
                    <input type="text" class="form-control" v-model="student.admission_number">
                  </div>

                </div>
                <div class="col">

                  <div class="mb-3">
                    <label class="form-label">Admission Date</label>
                    <DateField v-model="student.date_of_admission"/>
                  </div>

                </div>
              </div><!-- row -->

              <div class="row">
                <div class="col">

                  <div class="mb-3">
                    <label class="form-label">Full Name</label>
                    <input type="text" class="form-control" v-model="student.full_name">
                  </div>

                </div>
              </div><!-- row -->

              <div class="row">
                <div class="col">

                  <div class="mb-3">
                    <label class="form-label">Date of Birth</label>
                    <DateField v-model="student.dob"/>
                  </div>

                </div>
                <div class="col">

                  <div class="mb-3">
                    <label class="form-label">Age</label>
                    <input type="text" class="form-control" :value="calculatedAge" disabled>
                  </div>

                </div>
              </div><!-- row -->

              <div class="row">
                <div class="col-6">

                  <div class="mb-3">
                    <label class="form-label">Birth Certificate No.</label>
                    <input type="text" class="form-control" v-model="student.bc_number">
                  </div>

                </div>
              </div><!-- row -->


              <div class="row">

                <div class="col">

                  <div class="mb-3">
                    <label class="form-label">Address</label>
                    <textarea class="form-control" rows="3" v-model="student.address"></textarea>
                  </div>

                </div>

              </div><!-- row -->

              <div class="row">
                <div class="col">

                  <div class="mb-3">
                    <label class="form-label">Grade</label>
                    <input type="text" class="form-control" v-model="student.grade">
                  </div>


                </div>
                <div class="col">

                  <div class="mb-3">
                    <label class="form-label">House</label>
                    <input type="text" class="form-control" list="houses" v-model="student.house">
                  </div>

                  <datalist id="houses">
                    <option value="Bonel"></option>
                    <option value="Marian"></option>
                    <option value="Crowther"></option>
                    <option value="Miller"></option>
                  </datalist>

                </div>
              </div>

            </div><!-- form -->


          </div><!-- alert -->


          <div class="window gray">

            <div class="window-title">Contact details</div>

            <div class="window-body">
              <div class="row">
                <div class="col">

                  <div class="mb-3">
                    <label class="form-label">Guardian Name</label>
                    <input type="text" class="form-control" v-model="student.guardian_name">
                  </div>

                </div>
              </div><!-- row -->

              <div class="row">
                <div class="col">

                  <div class="mb-3">
                    <label class="form-label">Contact No.</label>
                    <input type="text" class="form-control" v-model="student.contact_number">
                  </div>

                </div>

                <div class="col">

                  <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="text" class="form-control" v-model="student.email">
                  </div>

                </div>

              </div><!-- row -->

              <div class="text-center">
                <button class="btn btn-primary" :disabled="!isFormValid" @click="onSave()">Save</button>
                <router-link to="/students" class="btn btn-secondary">Cancel</router-link>
              </div>
            </div>

          </div>

        </div><!-- col -->

      </div><!-- row -->
    </div><!-- container -->


  </div><!-- template -->

</template>

<script>
import {errorDialog, successDialog} from '@src/assets/libs/bootloks';
import DateField from '@src/components/fields/DateField';
import TopNavigationBar from '@src/components/TopNavigationBar';

const _ = require( 'lodash' );
const moment = require( 'moment' );

export default {
  name: 'CreateStudent',
  components: { TopNavigationBar, DateField },

  data() {
    return {
      student: {
        id: undefined,
        admission_number: undefined,
        date_of_admission: undefined,
        full_name: undefined,
        dob: undefined,
        bc_number: undefined,
        email: undefined,
        address: undefined,
        guardian_name: undefined,
        contact_number: undefined,
        grade: undefined,
        house: undefined,
      },
    };
  },
  /* -- data -- */


  computed: {

    isFormValid() {
      return !(
          _.isEmpty( this.student.admission_number ) ||
          _.isEmpty( this.student.full_name )
      );
    },

    calculatedAge() {
      let dob = moment( this.student.dob );
      let today = moment();
      return Math.round( moment.duration( today.diff( dob ) ).asYears() );
    },

  },
  /* -- computed -- */

  methods: {

    async onSave() {

      try {

        const params = {
          id: this.student.id,
          admission_number: this.student.admission_number,
          date_of_admission: this.student.date_of_admission,

          full_name: this.student.full_name,
          dob: this.student.dob,
          bc_number: this.student.bc_number,

          grade: this.student.grade,
          house: this.student.house,

          guardian_name: this.student.guardian_name,
          address: this.student.address,
          contact_number: this.student.contact_number,
          email: this.student.email,
        };

        await this.$store.dispatch( 'students/create', params );

        successDialog( { message: 'Student details saved' } );

        await this.$router.push( '/students' );

      } catch ( e ) {
        errorDialog( { message: 'Failed to save students details' } );
      }


    },

  },
  /* -- methods -- */


};
</script>

<style scoped>

</style>
