<template>

  <div>

    <TopNavigationBar/>

    <div class="container">
      <div class="row justify-content-center">

        <div class="col-12 col-md-6">

          <div class="alert alert-primary">

            <h3>Edit {{ student.full_name }}</h3>

            <div id="form-edit-student">

              <div class="row">
                <div class="col">

                  <div class="mb-3">
                    <label class="form-label">Admission No.</label>
                    <input type="text" class="form-control" v-model="student.admission_number">
                  </div>

                </div>
                <div class="col">

                  <div class="mb-3">
                    <label class="form-label">Admission Date</label>
                    <DateField v-model="student.date_of_admission"/>
                  </div>

                </div>
              </div><!-- row -->

              <div class="row">
                <div class="col">

                  <div class="mb-3">
                    <label class="form-label">Full Name</label>
                    <input type="text" class="form-control" v-model="student.full_name">
                  </div>

                </div>
              </div><!-- row -->

              <div class="row">
                <div class="col">

                  <div class="mb-3">
                    <label class="form-label">Date of Birth</label>
                    <DateField v-model="student.dob"/>
                  </div>

                </div>
                <div class="col">

                  <div class="mb-3">
                    <label class="form-label">Age</label>
                    <input type="text" class="form-control" :value="calculatedAge" disabled>
                  </div>

                </div>
              </div><!-- row -->

              <div class="row">
                <div class="col-6">

                  <div class="mb-3">
                    <label class="form-label">Birth Certificate No.</label>
                    <input type="text" class="form-control" v-model="student.bc_number">
                  </div>

                </div>
              </div><!-- row -->


              <div class="row">

                <div class="col">

                  <div class="mb-3">
                    <label class="form-label">Address</label>
                    <textarea class="form-control" rows="3" v-model="student.address"></textarea>
                  </div>

                </div>

              </div><!-- row -->

              <div class="row">
                <div class="col">

                  <div class="mb-3">
                    <label class="form-label">Grade</label>
                    <input type="text" class="form-control" v-model="student.grade">
                  </div>


                </div>
                <div class="col">

                  <div class="mb-3">
                    <label class="form-label">House</label>
                    <input type="text" class="form-control" list="houses" v-model="student.house">
                  </div>

                  <datalist id="houses">
                    <option value="Bonel"></option>
                    <option value="Marian"></option>
                    <option value="Crowther"></option>
                    <option value="Miller"></option>
                  </datalist>

                </div>
              </div>

            </div><!-- form -->


            <h4>Contact details</h4>

            <div class="row">
              <div class="col">

                <div class="mb-3">
                  <label class="form-label">Guardian Name</label>
                  <input type="text" class="form-control" v-model="student.guardian_name">
                </div>

              </div>
            </div><!-- row -->

            <div class="row">
              <div class="col">

                <div class="mb-3">
                  <label class="form-label">Contact No.</label>
                  <input type="text" class="form-control" v-model="student.contact_number">
                </div>

              </div>

              <div class="col">

                <div class="mb-3">
                  <label class="form-label">Email</label>
                  <input type="text" class="form-control" v-model="student.email">
                </div>

              </div>

            </div><!-- row -->

            <div class="text-center">
              <button class="btn btn-primary" @click="onUpdate()" :disabled="!isFormValid">Update</button>
              <router-link to="/students" class="btn btn-secondary">Cancel</router-link>
            </div>


          </div><!-- alert -->


        </div><!-- col -->

        <div class="col-12 col-md-4">

          <div class="alert alert-secondary">

            <h4 class="text-center">Profile picture</h4>

            <div class="profile__picture text-center position-relative mb-4">
              <img :src="profilePicUrl" :alt="student.full_name" class="img-fluid img-thumbnail shadow" style="max-width: 200px">
              <button class="btn btn-sm btn-danger position-absolute top-100 start-50 translate-middle"
                      v-if="student.profile_pic" @click="onRemoveProfilePic()">Remove
              </button>
            </div>

            <div class="mb-3">
              <label class="form-label">Upload profile pic</label>
              <input type="file" class="form-control" ref="profilePicField" @change="onChooseFile()">
            </div>

            <div class="text-center">
              <button class="btn btn-primary" :disabled="! profilePicFile" @click="onUploadProfilePic()">Upload</button>
            </div>

          </div>

        </div>

      </div><!-- row -->
    </div><!-- container -->


  </div><!-- template -->

</template>

<script>
import {errorDialog, successDialog} from '@src/assets/libs/bootloks';
import DateField from '@src/components/fields/DateField';
import TopNavigationBar from '@src/components/TopNavigationBar';

const _ = require( 'lodash' );
const moment = require( 'moment' );

export default {
  name: 'EditStudentPage',
  components: { DateField, TopNavigationBar },

  data() {
    return {

      student: {
        id: undefined,
        admission_number: undefined,
        date_of_admission: undefined,
        full_name: undefined,
        dob: undefined,
        age: undefined,
        bc_number: undefined,
        email: undefined,
        address: undefined,
        guardian_name: undefined,
        contact_number: undefined,
        grade: undefined,
        house: undefined,
        profile_pic: '/images/profile_pic.svg',
      },

      profilePicSrc: '',
      profilePicFile: null,

    };
  },
  /* -- data -- */

  computed: {

    studentId() {
      return this.$route.params.id;
    },

    isFormValid() {

      return !(
          _.isEmpty( this.student.admission_number ) ||
          _.isEmpty( this.student.full_name )
      );

    },

    calculatedAge() {
      let dob = moment( this.student.dob );
      let today = moment();
      return Math.round( moment.duration( today.diff( dob ) ).asYears() );
    },

    profilePicUrl() {
      if ( _.isEmpty( this.student.profile_pic ) ) {
        return '/images/profile_pic.svg';
      } else {
        return this.student.profile_pic;
      }
    },


  },
  /* -- computed -- */

  async mounted() {

    try {

      await this.$store.dispatch( 'students/fetch', this.studentId );
      this.student = this.$store.getters['students/getStudent'];

    } catch ( e ) {
      alert( 'Failed to fetch students details' );
      await this.$router.push( '/students' );
    }

  },
  /* -- mounted -- */

  methods: {

    onChooseFile() {
      this.profilePicFile = this.$refs.profilePicField.files[ 0 ];
    },

    async onUploadProfilePic() {
      try {

        const params = {
          profilePicFile: this.profilePicFile,
          id: this.studentId,
        };

        await this.$store.dispatch( 'students/uploadProfilePic', params );

        await this.$store.dispatch( 'students/fetch', this.studentId );
        this.student = this.$store.getters['students/getStudent'];

      } catch ( e ) {
        errorDialog( { message: 'Failed to upload profile picture' } );
      }
    },

    async onRemoveProfilePic() {
      try {

        await this.$store.dispatch( 'students/removeProfilePic', this.studentId );

        await this.$store.dispatch( 'students/fetch', this.studentId );
        this.student = this.$store.getters['students/getStudent'];

      } catch ( e ) {
        errorDialog( { message: 'Failed to remove profile picture' } );
      }
    },

    async onUpdate() {

      try {

        const params = {
          id: this.student.id,
          admission_number: this.student.admission_number,
          date_of_admission: this.student.date_of_admission,

          full_name: this.student.full_name,
          dob: this.student.dob,
          bc_number: this.student.bc_number,

          grade: this.student.grade,
          house: this.student.house,

          guardian_name: this.student.guardian_name,
          address: this.student.address,
          contact_number: this.student.contact_number,
          email: this.student.email,
        };

        await this.$store.dispatch( 'students/update', params );

        successDialog( { message: 'Student details updated' } );

      } catch ( e ) {
        errorDialog( { message: 'Failed to update students details' } );
      }

    },

  },
  /* -- methods -- */

};
</script>

<style scoped>

/*.profile__picture img {*/
/*  !*width: 200px;*!*/
/*  !*height: 200px;*!*/
/*  !*object-fit: cover;*!*/
/*  !*border-radius: 50%;*!*/
/*}*/

</style>
