<template>

  <div class="">

    <div class="window gray">
      <div class="window-title">Achievements</div>
      <div class="window-body">

        <button class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#modal__add_achievement">Add achievement</button>

        <table class="table table-bordered table-sm dt_achievementsList">
          <thead>
          <tr>
            <th>Tournament date</th>
            <td>Tournament name</td>
            <td>Outcome</td>
            <td>Details</td>
          </tr>
          </thead>
          <tbody>

          </tbody>
        </table>


      </div>
    </div>

    <!-- modal: add_achievement -->
    <ModalWindow id="modal__add_achievement" title="Add new achievement" size="lg" :backdrop="true">

      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label class="form-label">Tournament date</label>
            <DateField/>
          </div>
        </div>

        <div class="col-8">
          <div class="mb-3">
            <label class="form-label">Tournament name</label>
            <input type="text" class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <div class="mb-3">
            <label class="form-label">Outcome</label>
            <select class="form-select">
              <option v-for="(item, key) in achievementOutcomes" :value="key" :key="key">{{ item }}</option>
            </select>
          </div>
        </div>
      </div>

      <component :is="componentName"/>

    </ModalWindow>


  </div>

</template>

<script>
import DateField from '@src/components/fields/DateField';
import ModalWindow from '@src/components/ModalWindow';
import TeamCommonAchievementData from '@src/views/sports/age_groups/components/sports_type/TeamCommonAchievementData';
import TeamCricketAchievementData from '@src/views/sports/age_groups/components/sports_type/TeamCricketAchievementData';

export default {
  name: 'AgeGroupAchievementsList',
  components: {
    DateField,
    ModalWindow,
    TeamCommonAchievementData,
    TeamCricketAchievementData,
  },

  props: {
    sport: {
      type: Object,
      required: true,
    },
  },

  data() {
    return {
      //
    };
  },


  computed: {

    achievementOutcomes() {
      return this.$store.getters.getAchievementOutcome;
    },

    sportType() {
      return this.sport.title;
    },

    componentName() {
      if ( this.sportType === 'Cricket' ) {
        return 'TeamCricketAchievementData';
      } else {
        return 'TeamCommonAchievementData';
      }
    },

  },

  methods: {
    //
  },

};
</script>

<style scoped>

</style>
