<template>

  <div>

    <div class="window gray">
      <div class="window-title">Students in {{ ageGroupStudentsList.age_group.title }}</div>
      <div class="window-body">


        <SearchStudentsInAgeGroup/>

        <table class="table table-bordered table-sm dt_studentsTable" v-if="ageGroupStudentsList.students.length > 0">
          <thead>
          <tr>
            <th>Add. No.</th>
            <td>Name</td>
            <td>BC No.</td>
            <td>Grade</td>
            <td style="width: 10px"></td>
          </tr>
          </thead>
          <tbody>
          <tr v-for="item in studentsList">
            <td>{{ item.student.admission_number }}</td>
            <td>{{ item.student.full_name }}</td>
            <td>{{ item.student.bc_number }}</td>
            <td>{{ item.student.grade }}</td>
            <td>
              <button class="btn btn-sm btn-outline-success" @click="onRemoveStudent(item)">
                <img src="../../../../assets/images/remove.svg" class="icon-16" alt="">
              </button>
            </td>
          </tr>
          </tbody>
        </table>


      </div>
    </div>

  </div>

</template>

<script>
import {errorDialog} from '@src/assets/libs/bootloks';
import {defaultDTOptions} from '@src/assets/libs/dataTableOptions';
import SearchStudentsInAgeGroup from '@src/views/sports/age_groups/components/SearchStudentsInAgeGroup';

export default {
  name: 'ListAgeGroupStudents',
  components: { SearchStudentsInAgeGroup },
  data() {
    return {

      studentsDataTable: null,

    };
  },


  computed: {
    ageGroupId() {
      return this.$route.params.ageGroupId;
    },

    ageGroupStudentsList() {
      return this.$store.getters.getAgeGroupStudentsList;
    },

    studentsList() {
      return this.ageGroupStudentsList.students;
    },

  },

  async mounted() {

    try {
      await this.$store.dispatch( 'ageGroups_fetchGroupStudents', this.ageGroupId );
    } catch ( e ) {
      errorDialog( { message: 'Failed to fetch students details' } );
    }

    /* init data table for the students list */

    this.$nextTick( () => {

      if ( this.studentsDataTable == null ) {
        this.studentsDataTable = $( '.dt_studentsTable' ).DataTable( defaultDTOptions );
      }

    } );


  },


  methods: {

    async onRemoveStudent( item ) {
      try {

        await this.$store.dispatch( 'ageGroups_removeAgeGroupStudent', item.id );
        await this.$store.dispatch( 'ageGroups_fetchGroupStudents', this.ageGroupId );

      } catch ( e ) {
        errorDialog( { message: 'Failed to remove student from the age group' } );
      }
    },

  },

};
</script>

<style scoped>

</style>
