<template>

  <div>

    <div class="window gray">
      <div class="window-title">Age groups</div>
      <div class="window-body">

        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Year</th>
            <th>Title</th>
            <th>Coach</th>
            <th>Master in-charge</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="item in ageGroupsList" :key="item.id">
            <td>{{ item.year }}</td>
            <td>
              <router-link :to="`/sports/${sportId}/age-group/${item.id}`">{{ item.title }}</router-link>
            </td>
            <td>{{ item.coach.full_name }}</td>
            <td>{{ item.master_in_charge.full_name }}</td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>

  </div><!-- template -->

</template>

<script>
import {errorDialog} from '@src/assets/libs/bootloks';

export default {
  name: 'ListAgeGroups',

  data() {
    return {
      //
    };
  },

  computed: {

    sportId() {
      return this.$route.params.id;
    },

    /** @returns {SportAgeGroup[]} */
    ageGroupsList() {
      return this.$store.getters.getAgeGroupsList;
    },

  },

  async mounted() {

    try {
      await this.$store.dispatch( 'ageGroups_fetchBySport', this.sportId );


      $( '.table' ).DataTable();

    } catch ( e ) {
      errorDialog( { message: 'Failed to fetch age group details' } );
    }
  },

  methods: {
    //
  },
};
</script>

<style scoped>

</style>
