<template>

  <div>

    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal__search_students">Add students to this group</button>

    <ModalWindow id="modal__search_students" title="Search and add students" :backdrop="true" size="lg">
      <div class="">

        <div class="input-group mb-3">
          <input type="text" class="form-control" v-model.trim="keyword" placeholder="search for students...">
          <button class="btn btn-outline-success" @click="onSearch()">
            <img src="../../../../assets/images/search.svg" class="icon-16" alt="">
          </button>
        </div>

        <table class="table table-bordered table-sm dt_searchResults" v-if="studentsList.length > 0">
          <thead>
          <tr>
            <th>Add. No.</th>
            <th>DoB</th>
            <td>Name</td>
            <td>BC No.</td>
            <td>Grade</td>
            <td style="width: 10px"></td>
          </tr>
          </thead>
          <tbody>
          <tr v-for="student in studentsList">
            <td>{{ student.admission_number }}</td>
            <td>{{ student.dob }}</td>
            <td>{{ student.full_name }}</td>
            <td>{{ student.bc_number }}</td>
            <td>{{ student.grade }}</td>
            <td>
              <button class="btn btn-sm btn-outline-success" @click="onAddStudent(student)">
                <i class="bi bi-plus-lg"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>

      </div>
    </ModalWindow>

  </div>

</template>

<script>
import {errorDialog} from '@src/assets/libs/bootloks';

import {defaultDTOptions} from '@src/assets/libs/dataTableOptions';
import ModalWindow from '@src/components/ModalWindow';

export default {
  name: 'SearchStudentsInAgeGroup',
  components: { ModalWindow },
  data() {
    return {
      keyword: '',

      dataTableInstance: null,

    };
  },


  computed: {

    studentsList() {
      return this.$store.getters.getStudentsList;
    },

    ageGroupId() {
      return this.$route.params.ageGroupId;
    },

  },


  mounted() {


  },


  methods: {

    async onSearch() {
      try {

        await this.$store.dispatch( 'students_search', this.keyword );

      } catch ( e ) {
        errorDialog( { message: 'Failed to fetch search results' } );
      }

      this.$nextTick( () => {

        if ( this.dataTableInstance == null ) {
          this.dataTableInstance = $( '.dt_searchResults' ).DataTable( defaultDTOptions );
        }

      } );

    },

    async onAddStudent( student ) {
      try {

        const params = {
          student_id: student.id,
          age_group_id: this.ageGroupId,
        };


        await this.$store.dispatch( 'ageGroups_addAgeGroupStudent', params );
        await this.$store.dispatch( 'ageGroups_fetchGroupStudents', this.ageGroupId );

      } catch ( e ) {

        const errorMessage = e.response.data.payload.error ?? 'Failed to add student to the age group';
        errorDialog( { message: errorMessage } );
      }
    },

  },

};
</script>

<style scoped>

</style>
