<template>

  <div :class="['window shadow', color]">
    <div class="window-title d-flex justify-content-between align-items-center">
      <slot name="title"></slot>
      <div class="">
        <button class="btn btn-sm btn-warning" @click="isBodyVisible = !isBodyVisible">
          <i :class="toggleIcon"></i>
        </button>
      </div>
    </div>
    <div class="window-body" v-show="isBodyVisible">
      <slot></slot>
    </div>
  </div>

</template>

<script>
export default {
  name: 'CardSection',
  props: {
    /* values for color: purple, green, red, yellow, gray */
    color: {
      type: String,
      default: 'gray',
    },
    visible: {
      type: Boolean,
      default: true,
    },
  },

  data() {
    return {
      isBodyVisible: true,
    };
  },

  watch: {
    visible( newVal ) {
      this.isBodyVisible = newVal;

    },
  },

  created() {
    this.isBodyVisible = this.visible;
  },

  computed: {

    toggleIcon() {
      if ( this.isBodyVisible ) {
        return 'bi bi-eye-slash-fill';
      } else {
        return 'bi bi-eye-fill';
      }
    },

  },

};
</script>

<style scoped lang="scss">

i {
  font-size : 1rem;
}

</style>
