<template>

  <div>
    <TopNavigationBar/>

    <div class="container" v-if="loaded">
      <div class="row">
        <div class="col">

          <div class="window gray">
            <div class="window-title">Age group details for {{ selectedSport.title }}</div>
            <div class="window-body">

              <div class="row g-2">

                <div class="col">
                  <div class="mb-3">
                    <label class="form-label">Year</label>
                    <input type="text" class="form-control" v-model.trim="selectedAgeGroup.year">
                  </div>
                </div>

                <div class="col">
                  <div class="mb-3">
                    <label class="form-label">Age group title</label>
                    <input type="text" class="form-control" v-model.trim="selectedAgeGroup.title">
                  </div>
                </div>

                <div class="col">
                  <label class="form-label">Coach</label>
                  <select class="form-select" v-model="selectedAgeGroup.coach_id">
                    <option value="-1" disabled>CHOOSE ONE</option>
                    <option v-for="item in coachesList" :value="item.id">{{ item.full_name }}</option>
                  </select>
                </div>


                <div class="col">
                  <label class="form-label">Master in-charge</label>
                  <select class="form-select" v-model="selectedAgeGroup.master_in_charge_id">
                    <option value="-1" disabled>CHOOSE ONE</option>
                    <option v-for="item in mastersInChargeList" :value="item.id">{{ item.full_name }}</option>
                  </select>
                </div>


              </div><!-- row -->

              <div class="row justify-content-center">
                <div class="col-auto">
                  <div class="d-flex gap-2">
                    <button class="btn btn-primary">Update</button>
                    <router-link :to="{name: 'editSport', params: {id: sportId}}" class="btn btn-secondary">Back</router-link>


                  </div>


                </div>
              </div>

            </div>
          </div>

          <hr>
        </div><!-- col -->
      </div><!-- row -->

      <!-- scheduling of sports practices -->
      <div class="row mb-3">
        <div class="col">
          <SportPractice :practice-data="selectedAgeGroup.sport_practice"/>
        </div>
      </div>


      <div class="row mb-3">
        <AgeGroupAchievementsList :sport="selectedSport"/>
      </div>

      <div class="row mb-3">
        <div class="col">
          <ListAgeGroupStudents/>
        </div>
      </div><!-- row -->


    </div><!-- container -->

    <div class="container" v-else>
      <div class="row">
        <div class="col">
          <h1 class="my-5 text-center">Loading...</h1>
        </div>
      </div>
    </div>

  </div><!-- template -->

</template>

<script>
import {errorDialog} from '@src/assets/libs/bootloks';
import TopNavigationBar from '@src/components/TopNavigationBar';
import AgeGroupAchievementsList from '@src/views/sports/age_groups/components/AgeGroupAchievementsList';
import ListAgeGroupStudents from '@src/views/sports/age_groups/components/ListAgeGroupStudents';
import SearchStudentsInAgeGroup from '@src/views/sports/age_groups/components/SearchStudentsInAgeGroup';
import SportPractice from '@src/views/sports/age_groups/components/SportPractice';

const _ = require( 'lodash' );

export default {
  name: 'AgeGroupDetailsPage',
  components: { AgeGroupAchievementsList, SportPractice, ListAgeGroupStudents, SearchStudentsInAgeGroup, TopNavigationBar },


  data() {
    return {
      loaded: false,
    };
  },

  computed: {
    /** @returns {SportAgeGroup[]} */
    mastersInChargeList: function () {
      return this.$store.getters.getMastersInChargeList;
    },

    /** @returns {Coach[]} */
    coachesList: function () {
      return this.$store.getters.getCoachesList;
    },

    /** @returns {number} */
    sportId: function () {
      return _.toNumber( this.$route.params.sportId );
    },

    /** @returns {number} */
    ageGroupId: function () {
      return _.toNumber( this.$route.params.ageGroupId);
    },

    /** @returns {SportAgeGroup} */
    selectedAgeGroup: function () {
      return this.$store.getters.getSelectedAgeGroup;
    },

    /** @returns {Sport} */
    selectedSport: function () {
      return this.selectedAgeGroup.sport;
    },

  },

  mounted: async function () {
    try {

      await this.$store.dispatch( 'coaches_fetchAll' );
      await this.$store.dispatch( 'mastersInCharge_fetchAll' );

      await this.$store.dispatch( 'ageGroups_fetch', this.ageGroupId );

      this.loaded = true;

    } catch ( e ) {
      errorDialog( { message: 'Failed to fetch details' } );
    }
  },

  methods: {
    //
  },

};
</script>

<style scoped>

</style>
