<template>

  <CardSection class="mb-3" v-if="loaded">
    <template v-slot:title>
      <div class="d-flex align-items-center gap-2">
        <router-link to="/cricket" class="btn btn-sm btn-secondary"><i class="bi bi-arrow-left"></i></router-link>
        <div class="">Manage age group details</div>
      </div>
    </template>

    <div class="row g-2">

      <div class="col">
        <div class="mb-3">
          <label class="form-label">Year</label>
          <input type="number" class="form-control" v-model="formAgeGroup.year">
        </div>
      </div><!-- col -->

      <div class="col">
        <div class="mb-3">
          <label class="form-label">Title</label>
          <select class="form-select" v-model="formAgeGroup.title">
            <option v-for="item in titleValues" :value="item">{{ item }}</option>
          </select>
        </div>
      </div><!-- col -->

      <div class="col">
        <div class="mb-3">
          <label class="form-label">Coach</label>
          <select class="form-select" v-model="formAgeGroup.coach_id">
            <option value="-1" disabled>CHOOSE ONE</option>
            <option v-for="item in coachesList" :value="item.id">{{ item.full_name }}</option>
          </select>
        </div>
      </div><!-- col -->

      <div class="col">
        <div class="mb-3">
          <label class="form-label">Master in-charge</label>
          <select class="form-select" v-model="formAgeGroup.master_in_charge_id">
            <option value="-1" disabled>CHOOSE ONE</option>
            <option v-for="item in mastersInChargeList" :value="item.id">{{ item.full_name }}</option>
          </select>
        </div>
      </div><!-- col -->


      <div class="text-center">
        <button class="btn btn-primary" @click="onUpdate()">Update</button>
      </div>

    </div>


  </CardSection>

</template>

<script>
import {errorDialog, successDialog} from '@src/assets/libs/bootloks';
import CardSection from '@src/components/CardSection';
import moment from 'moment';

const _ = require( 'lodash' );

export default {
  name: 'EditCricketAgeGroup',
  components: { CardSection },

  props: {
    ageGroupId: {
      required: true,
      type: Number,
    },
  },


  data() {
    return {

      loaded: false,

      titleValues: [
        'Under 12',
        'Under 14',
        'Under 16',
        'Under 18',
        'Under 20',
      ],

      formAgeGroup: {
        id: undefined,
        title: '',
        year: _.toNumber( moment().format( 'YYYY' ) ),
        coach_id: -1,
        master_in_charge_id: -1,
      },

    };
  },

  computed: {
    /** @returns {MasterInCharge[]} */
    mastersInChargeList() {
      return this.$store.getters[ 'mastersInCharge/getMastersInChargeList' ];
    },

    /** @returns {Coach[]} */
    coachesList() {
      return this.$store.getters[ 'coaches/getCoachesList' ];
    },


  },

  async mounted() {

    try {

      await this.$store.dispatch( 'coaches/fetchAll' );
      await this.$store.dispatch( 'mastersInCharge/fetchAll' );

      await this.$store.dispatch( 'cricketAgeGroups/fetch', this.ageGroupId );

      this.formAgeGroup = this.$store.getters[ 'cricketAgeGroups/getAgeGroup' ];

      this.loaded = true;

    } catch ( e ) {
      errorDialog( { message: 'Failed to fetch details' } );
    }


  },

  methods: {

    async onUpdate() {

      try {

        const params = {
          id: this.formAgeGroup.id,
          title: this.formAgeGroup.title,
          year: this.formAgeGroup.year,
          master_in_charge_id: this.formAgeGroup.master_in_charge_id,
          coach_id: this.formAgeGroup.coach_id,
        };

        await this.$store.dispatch( 'cricketAgeGroups/update', params );

        successDialog( {
          message: 'Details updated',
        } );

      } catch ( e ) {
        errorDialog( {
          message: 'Failed to update age group details',
        } );
      }

    },

  },

};
</script>

<style scoped>

</style>
