<template>

  <div>

    <CardSection class="mb-3">
      <template v-slot:title>Students</template>

      <div class="">

        <div class="mb-3">
          <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal__cricket_ag_add_students">
            Add students
          </button>
        </div>

        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Add. No.</th>
            <th>DoB</th>
            <td>Name</td>
            <td>BC No.</td>
            <td>Grade</td>
            <td style="width: 10px"></td>
          </tr>
          </thead>
          <tbody>
          <tr v-for="item in cricketAgeGroupStudentsList">
            <td>{{ item.student.admission_number }}</td>
            <td>{{ item.student.dob }}</td>
            <td>{{ item.student.full_name }}</td>
            <td>{{ item.student.bc_number }}</td>
            <td>{{ item.student.grade }}</td>
            <td>
              <button class="btn btn-sm btn-secondary">
                <i class="bi bi-box-arrow-in-right"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>


      </div>

    </CardSection>


    <!-- MODAL: Search and add student to the current age group -->
    <ModalWindow id="modal__cricket_ag_add_students" size="lg" title="Add students" :backdrop="true">

      <div class="mb-3">
        <div class="input-group">
          <input type="text" class="form-control" v-model="searchKeyword" @keydown.enter="onSearchStudents()"
                 placeholder="Search for students by keywords Eg. Name, house, admission number...">
          <button class="btn btn-primary" @click="onSearchStudents()">Search</button>
        </div>
      </div>

      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Add. No.</th>
          <th>DoB</th>
          <td>Name</td>
          <td>BC No.</td>
          <td>Grade</td>
          <td style="width: 10px"></td>
        </tr>
        </thead>
        <tbody>
        <tr v-for="student in studentsList">
          <td>{{ student.admission_number }}</td>
          <td>{{ student.dob }}</td>
          <td>{{ student.full_name }}</td>
          <td>{{ student.bc_number }}</td>
          <td>{{ student.grade }}</td>
          <td>
            <button class="btn btn-sm btn-outline-success" @click="onAddStudent(student)">
              <i class="bi bi-person-plus-fill"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>


    </ModalWindow>

  </div><!-- template -->


</template>

<script>
import {errorDialog} from '@src/assets/libs/bootloks';
import CardSection from '@src/components/CardSection';
import ModalWindow from '@src/components/ModalWindow';

export default {
  name: 'ListCricketAGStudents',
  components: { ModalWindow, CardSection },

  props: {
    ageGroupId: {
      required: true,
      type: Number,
    },
  },

  data() {
    return {
      searchKeyword: 'bonel',
    };
  },

  computed: {

    /** @returns {Student[]} */
    studentsList() {
      return this.$store.getters[ 'students/getStudentsList' ];
    },

    /** @returns {CricketAgeGroupStudent[]} */
    cricketAgeGroupStudentsList() {
      return this.$store.getters[ 'cricketAgeGroups/getStudentsListInAgeGroup' ];
    },

  },

  async mounted() {

    try {
      await this.$store.dispatch( 'cricketAgeGroups/fetchAllAgeGroupStudents', this.ageGroupId );
    } catch ( e ) {
      errorDialog( { message: 'Failed to fetch students in the age group' } );
    }

  },

  methods: {

    async onSearchStudents() {
      try {
        await this.$store.dispatch( 'students/search', this.searchKeyword );
      } catch ( e ) {
        errorDialog( { message: 'Failed to fetch students' } );
      }
    }, /* on search students */


    async onAddStudent( student ) {
      try {

        const params = {
          cricket_age_group_id: this.ageGroupId,
          student_id: student.id,
        };

        await this.$store.dispatch( 'cricketAgeGroups/addStudent', params );
        await this.$store.dispatch( 'cricketAgeGroups/fetchAllAgeGroupStudents', this.ageGroupId );

      } catch ( e ) {
        errorDialog( { message: 'Failed to add student' } );
      }
    },

  },


};
</script>

<style scoped>

</style>
